@import '~leaflet/dist/leaflet.css';

.location-heading {
  @include large {
    background-color: clr(tone-1);
    margin-bottom: 0;
  }

  &__info {
    border-bottom: solid 2px clr(tone-9);
    margin-bottom: 1.25rem;

    @include large {
      padding: 0;
      margin-bottom: 0;
    }

    .h1 {
      font-family: $font-heading;
      font-size: 2.5rem;
      margin-bottom: 1.25rem;

      @include large {
        font-size: 3.125rem;
      }
    }
  }

  &__map {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;

    .map {
      height: 0;
      padding-top: 100%;
      width: 100%;

      @include large {
        height: 100%;
        min-height: 450px;
        padding-top: 0;
      }

      .leaflet-control-container {
        position: relative;
        z-index: 400;
      }

      .leaflet-popup-content {
        h4 {
          margin: 0;
        }
      }
    }
  }

  /* Fix accessibility warning */
  .leaflet-control-attribution {
    a {
      text-decoration: underline;

      &:hover {
        color: clr(tone-9);
      }
    }
  }
}

/* remove margin if header is page header */
.page-header
  + div
  > .field-content
  > .location-heading
  > .location-heading__map {
  margin-top: -2rem;
}
