{% set location_heading__base_class = 'location-heading'%}

{% if not map %}
  {% set map = 'map' %}
{% endif %}

<div {{ bem(location_heading__base_class, location_heading__modifiers, location_heading__blockname, ['flexgrid-nm']) }}>
  <div {{ bem('info', [], location_heading__base_class, ['col-xxl-12']) }}>
    {% if heading %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 1,
        heading: heading,
        heading_blockname: location_heading__base_class
      } %}
    {% endif %}
  </div>
  {% if map is defined %}
    <div {{ bem('map', [], location_heading__base_class, ['col-xxl-12']) }}>
      <div id="{{ map }}" class="map"></div>
    </div>
  {% endif %}
</div>
