label,
#edit-pass--description,
#edit-name--description {
  color: clr(tone-9);
  font-family: $font-heading;
  font-size: 1.125rem;
  line-height: 1.2;
  margin-bottom: $space-one-half;
}

label {
  font-weight: 600;
}

.form-item {
  label {
    display: inline-block;
    margin-bottom: $space-one-half;
  }
}
