<p>
  {% include "@atoms/buttons/button.twig" with {
    button_content: name,
    button_url: content.field_media_document.0['#markup'],
    button_modifiers: ['secondary'],
    button_icon: 'file-arrow-down',
    button_icon_type: 'light',
    additional_attributes: {
      target: '_blank'
    },
  } %}
</p>
