{# Since the card and cta components aren't required, we can't expect them to be here by default #}
{% set icon_card_group__base_class = "icon_card_group" %}
{% set icon_card_group__extra_classes = ['flexgrid-nm'] %}

{% if columns == 2 %}
  {% set card_cols = ['col-md-12', 'col-l-6','col-xxl-6'] %}
{% elseif columns == 3 %}
  {% set card_cols = ['col-md-12', 'col-xl-6','col-xxl-4'] %}
{% elseif columns == 4 %}
  {% set card_cols = ['col-md-12', 'col-xl-6','col-xxl-3'] %}
{% endif %}

<div {{ bem(icon_card_group__base_class, icon_card_group__modifiers, icon_card_group__blockname, icon_card_group__extra_classes) }}>
  {% for item in icon_cards %}
    {# ICON #}
    {% include "@molecules/icon-card/icon-card.twig" with {
      icon_card_content: item,
      showDescription: item.showDescription,
      icon_card__extra_classes: card_cols,
      linked: item.url ? true : false,
    } %}
  {% endfor %}
</div>
