{#
# Available variables:
# - card__base_class - base classname of the wrapper.
# - card__modifiers - array of modifiers to add to the base classname of the wrapper.
# - card__blockname - blockname prepended to the base classname of the wrapper(s) and each component.
#
# - card__image__src - the actual image file location.
# - card__image__alt - (optional) the alt text for screen readers and when the image cannot load.
# - card__image__output_image_tag - whether to print the picture element or not.
#
# - card__content__base_class - base classname of the copy wrapper - defaults to 'heading'.
# - card__content__modifiers - array of modifiers to add to the base classname of the copy wrapper.
# - card__content__blockname - blockname prepended to the base classname of the copy wrapper.
#
# - card__heading - the content of the title component.
# - card__heading__link - (optional) the url the title should link to. Defaults to card__link__url.
# - card__heading__base_class - base classname of the title component. Defaults to "title".
# - card__heading__blockname - blockname to add to the base classname of the title - defaults to card__base_class.
# - card__heading__modifiers - array of modifiers to add to the base classname of the title.
# - card__heading__link_base_class - base class to add to the title link - defaults to 'title-link'.
#
# - card__subheading - the content of the subtitle component.
# - card__subheading__link - (optional) the url the subtitle should link to.
# - card__subheading__base_class - base classname of the subtitle component. Defaults to "subtitle".
# - card__subheading__modifiers - array of modifiers to add to the base classname of the subtitle.
#
# - card__body - the content of the body component.
# - card__body__base_class - base classname of the body component. Defaults to "body".
# - card__body__modifiers - array of modifiers to add to the base classname of the body.
#
# - card__date - the content of the date component.
# - card__date__base_class - base classname of the date component. Defaults to "date".
# - card__date__modifiers - array of modifiers to add to the base classname of the date.
#
# - card__tags - the content of the tag component.
# - card__tags__base_class - base classname of the date component. Defaults to "date".
# - card__tags__modifiers - array of modifiers to add to the base classname of the date.
#
# - card__link__text - the content of the link component.
# - card__link__url - the url the link should link to.
# - card__link__base_class - base classname of the link component. Defaults to "link".
# - card__link__blockname - override link blockname. Defaults to card__base_class.
# - card__link__attributes - array of attribute,value pairs for the link attribute.
# - card__link__modifiers - array of modifiers to add to the base classname of the link.
#
# - card__button__content - the content of the button component.
# - card__button__url - the url the button should link to.
# - card__button__base_class - base classname of the button component. Defaults to "button".
# - card__button__attributes - array of attribute,value pairs for the button attribute.
# - card__button__modifiers - array of modifiers to add to the base classname of the button.
#}
{% set card__base_class = 'card' %}

{% if background %}
  {% set card__modifiers = ['with-background'] %}
{% endif %}

{% if card.card__image__src is empty and not background %}
  {% set card__modifiers = ['no-img'] %}
{% endif %}

<div {{ bem(card__base_class, card__modifiers, card__blockname, card__extra_classes) }}>
  {# Image #}
  {% if card.card__image__output_image_tag and card.card__image__src %}
    {% embed "@atoms/links/link/link.twig" %}
    {% set link_url = card__link__url %}
      {% block link_content %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          image_blockname: card__base_class,
          output_image_tag: card.card__image__output_image_tag,
          image_src: card.card__image__src,
          image_alt: card.card__image__alt,
        } %}
      {% endblock %}
    {% endembed %}
  {% endif %}
  {# Content #}
  <div {{ bem('content', card__content__modifiers, card__base_class) }}>
    {# Heading #}
    {% if card.card__default__title.0 %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 3,
        heading: card.card__default__title,
        heading_url: card.card__heading__link|default(card.card__link__url),
        heading_modifiers: ['link'],
      } %}
    {% elseif card.card__heading %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 3,
        heading: card.card__heading,
        heading_url: card.card__heading__link|default(card.card__link__url),
        heading_modifiers: ['link'],
      } %}
    {% endif %}
    {# Body #}
    {% if card.card__body %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
        copy: card.card__body,
      } %}
    {% endif %}
    {# Date #}
    {% if card.card__date %}
      <div {{ bem('date', [], '') }}>
        {% include "@atoms/text/text/01-paragraph.twig" with {
          copy: card.card__date,
        } %}
      </div>
    {% endif %}
    {# Tags #}
    {% if card.card__tags %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: card.card__tags__icon|default('tags'),
        badge_icon_type: 'regular',
        badge_text: card.card__tags,
      } %}
    {% endif %}
  </div>
</div>
