{% set page_layout_modifier = 'full' %}
{% set layout_extra_classes = ['search-result-page'] %}

{% embed "@templates/with-sidebar.twig" %}
  {% block page_system %}
    {% include '@molecules/page-headers/search-header/search-header.twig' %}
  {% endblock %}

  {% block page_sidebar %}
    {% embed "@molecules/sidebar-filters/sidebar-filters.twig" %}
      {% set heading = 'Filter Results' %}
      {% set button_value = 'Apply Filters' %}
      
      {% block form_content %}
        {% include "@atoms/forms/radio/radio.twig" with {
          radios: filterData.radios,
        } %}
      {% endblock %}
    {% endembed %}
  {% endblock %}

  {% block page_content %}
    <p {{bem('summary')}}>{{ 'Display 1-8 of 200 results for "Training"'|t }}</p>

    {% include '@molecules/event-card/event-card.twig' with {
      event: {
        short_month: 'Aug',
        day: '12',
        heading: 'National Night Out',
        date: 'Monday, August 2, 2022',
        time: '5:30pm',
        location: 'Kimwood Park',
        tags: "Sheriff's Office",
        link__url: '#',
      },
      border: 'bottom',
    } %}

    {% include '@molecules/event-card/event-card.twig' with {
      event: {
        short_month: 'Jun',
        day: '14',
        heading: 'Vivamus suscipit tortor eget felis porttitor volutpat.',
        date: 'Tuesday, June 14, 2022',
        time: '4:30pm',
        location: 'Palisade Board Chambers',
        tags: 'Board of Commisioners, Public Meeting',
        link__url: '#',
      },
      border: 'bottom',
    } %}

        {% include '@molecules/horizontal-card/horizontal-card.twig' with {
      horizontal_card__image__output_image_tag: false,
      horizontal_card__heading: 'Mental Health Matters',
      horizontal_card__summary: "Mental health is just as important as your physical health, and it's a criticl part of overall health.",
      horizontal_card__tags: 'Events, County',
      horizontal_card__tags__icon: 'tags',
      horizontal_card__link__url: '#',
    } %}

    {% include '@molecules/horizontal-card/horizontal-card.twig' with {
      horizontal_card__image__output_image_tag: false,
      horizontal_card__heading: 'Mental Health Matters',
      horizontal_card__summary: "Mental health is just as important as your physical health, and it's a criticl part of overall health.",
      horizontal_card__tags: 'Events, County',
      horizontal_card__tags__icon: 'tags',
      horizontal_card__link__url: '#',
    } %}

    {% include '@molecules/horizontal-card/horizontal-card.twig' with {
      horizontal_card__image__src: 'https://placeimg.com/600/400/nature',
      horizontal_card__image__alt: "This is the card image's alt text",
      horizontal_card__image__output_image_tag: true,
      horizontal_card__heading: 'Tarp Your Trash!',
      horizontal_card__summary: "Lately, it's been super windy, so don't forget to tarp your trash as you drive to the landfill. Help us keep Mesa County clean -- tarp it!",
      horizontal_card__date: 'May 14, 2022',
      horizontal_card__tags: 'Mesa County News, Safety',
      horizontal_card__tags__icon: 'tags',
      horizontal_card__link__url: '#',
    } %}

    {% include '@molecules/horizontal-card/horizontal-card.twig' with {
      horizontal_card__image__src: 'https://placeimg.com/600/400/nature',
      horizontal_card__image__alt: "This is the card image's alt text",
      horizontal_card__image__output_image_tag: true,
      horizontal_card__heading: 'Tarp Your Trash!',
      horizontal_card__summary: "Lately, it's been super windy, so don't forget to tarp your trash as you drive to the landfill. Help us keep Mesa County clean -- tarp it!",
      horizontal_card__date: 'May 14, 2022',
      horizontal_card__tags: 'Mesa County News, Safety',
      horizontal_card__tags__icon: 'tags',
      horizontal_card__link__url: '#',
    } %}

    {% include '@molecules/event-card/event-card.twig' with {
      event: {
        short_month: 'Aug',
        day: '12',
        heading: 'National Night Out',
        date: 'Tuesday, August 2, 2022',
        time: '5:30pm',
        location: 'Kimwood Park',
        tags: "Sheriff's Office",
        link__url: '#',
      },
      border: 'bottom',
    } %}

    {% include '@molecules/pager/pager.twig' with {
      items: pagerData.items,
      ellipses: pagerData.ellipses,
      current: 0,
    } %}

  {% endblock %}
{% endembed %}
