{% set author_card__base_class = 'author-event-card' %}

{% if card_img_src is empty %}
  {% set author_card_content__modifiers = ['no-image'] %}
{% endif %}

{% if isHorizontal %}
  {% set author_card__modifiers = ['horizontal'] %}
{% endif %}

<div
  {{ bem(author_card__base_class, author_card__modifiers, author_card__blockname, author_card__extra_classes) }}>
  {# Image #}
  {% if card_img_src %}
    {% embed "@atoms/links/link/link.twig" %}
      {% set link_url = card_link %}
      {% block link_content %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          image_blockname: author_card__base_class,
          output_image_tag: true,
          image_src: card_img_src,
          image_alt: card_img_alt,
        } %}
      {% endblock %}
    {% endembed %}
  {% endif %}
  <div {{ bem('content', author_card_content__modifiers, author_card__base_class) }}>
    {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 3,
        heading: card_heading,
        heading_url: card_link,
        heading_link_base_class: 'heading-link',
    } %}

    {% if isHorizontal and card_body %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
          copy: card_body,
      } %}
    {% endif %}

    {% include "@atoms/badges/badge.twig" with {
      badge_icon: "calendar",
      badge_text: card_date ,
    } %}

    {% include "@atoms/badges/badge.twig" with {
      badge_icon: "clock",
      badge_text: card_time ,
    } %}

    {# Location #}
    {% if card_location %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: 'location-dot',
        badge_icon_type: 'regular',
        badge_text: card_location,
        linked: card_location_url ? true : false,
        badge_link: card_location_url,
      } %}
    {% endif %}

    {% if isHorizontal and registration %}
      <div {{ bem('registration', [], '')}}>
        {% block registration_content %}
          {# To update after the Demco integration #}
          {% include "@atoms/buttons/button.twig" with {
              button_content: 'Registration',
              button_url: '/',
              button_modifiers: ['secondary'],
          } %}

          {% include "@atoms/text/text/01-paragraph.twig" with {
            copy: 'There are <strong>5</strong> spaces available for this event.',
        } %}
        {% endblock %}
      </div>  
    {% endif %}

  </div>
</div>
