<div class="form-item">
    {% include "@atoms/forms/label/label.twig" with {
        text: 'Name',
    } %}

  <input id="edit-name" autocorrect="none" autocapitalize="none" spellcheck="false" type="text" name="name" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="First, Middle, Last">
</div>

<div class="form-item">
    {% include "@atoms/forms/label/label.twig" with {
        text: 'Password',
    } %}
  <input id="edit-pass" type="password" name="pass" size="60" maxlength="128" class="form-item__textfield form-item__textfield--password form-item__textfield--required" required="required" aria-required="true" placeholder="...">
  <div class="form-item__description">
    Enter the password that accompanies your username.
  </div>
</div>

<form>
  <fieldset class="form-fieldset">
  <legend class="heading-2 with-icon">Web and Email Address (fieldset example)</legend>
    <div class="form-item">
        {% include "@atoms/forms/label/label.twig" with {
            text: 'Web Address',
        } %}
       <input id="webaddress" type="url" class="form-item__textfield" placeholder="http://yoursite.com">
     </div>

     <div class="form-item">
         {% include "@atoms/forms/label/label.twig" with {
             text: 'Email Address',
         } %}
       <input id="emailaddress" type="email" class="form-item__textfield" placeholder="name@email.com">
     </div>
  </fieldset>
 </form>

 <div class="form-item">
     {% include "@atoms/forms/label/label.twig" with {
         text: 'Number Input',
     } %}
   <input id="text" type="number" class="form-item__textfield" placeholder="Enter a Number" pattern="[0-9]*">
 </div>

 <div class="form-item">
     {% include "@atoms/forms/label/label.twig" with {
         text: 'Textarea',
     } %}
   <textarea id="textarea" class="form-item__textfield form-item__textarea"  rows="8" cols="48" placeholder="Enter your message here"></textarea>
 </div>
