{#
/**
 * Available variables:
 * - link_content - the content of the link (typically text)
 * - link_url - the url this link should poing to
 * - link_attributes - array of attribute,value pairs
 * - link_base_class - the base class name
 * - link_modifiers - array of modifiers to add to the base classname
 * - link_blockname - blockname prepended to the base classname
 *
 * Available blocks:
 * - link_content - used to replace the content of the link
 *     Example: to insert the image component
 */
#}
{% set link_base_class = link_base_class|default('link') %}

<a
  {{ bem(link_base_class, link_modifiers, link_blockname) }}
  {% for attribute, value in link_attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
  {% if link_content %}
    aria-label="{{ link_content }}"
  {% elseif link_label %}
    aria-label="{{ link_label }}"
  {% endif %}
  {% if link_hidden %}
    tabindex="-1"
    aria-hidden="true"
  {% endif %}
  href="{{ link_url }}"
>
  {% block link_content %}
    {{ link_content|raw }}
  {% endblock %}
</a>
