{% set card_listing__base_class = 'card-listing' %}

{# Header #}
<div {{ bem('card-listing-header') }} >
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: 'Related News',
  } %}
  {% include "@atoms/buttons/button.twig" with {
    button_content: 'All News',
    button_url: header,
    button_modifiers: ['secondary'],
  } %}
</div>

{# Content #}
{% if rows -%}
  {{ rows }}
{% elseif empty -%}
  {{ empty }}
{% endif %}
