{% set card_listing__base_class = 'card-listing' %}

{# Header #}
<div {{ bem('card-listing-header') }} >
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: 'Featured Events',
  } %}
  {% include "@atoms/buttons/button.twig" with {
    button_content: 'All Events',
    button_url: header,
    button_modifiers: ['secondary'],
  } %}
</div>


{{ exposed }}
  {{ attachment_before }}

  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}
