{%
    set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}
<div{{ attributes.addClass(classes) }}>
    {% if rows -%}
        {{ rows }}
    {% elseif empty -%}
        {{ empty }}
    {% endif %}
    {{ pager }}
</div>
