<div {{bem('event-listing', [], '', ['flexgrid-nm'])}}>
  <div {{bem('filters', [], 'event-listing', ['col-l-12 col-xxl-3'])}}>
    {% include "@molecules/sidebar-filters/sidebar-filters.twig" with {
      heading: 'Filter Events',
      form: exposed,
    } %}
  </div>
  <div {{bem('rows', '', 'event-listing', ['col-l-12 col-xxl-9'])}}>
    {{ attachment_before }}

    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
    {{ pager }}

    {{ attachment_after }}
    {{ more }}

    {% if footer %}
      <footer>
        {{ footer }}
      </footer>
    {% endif %}
  </div>
</div>