<div class="office-hours office-hours-status--{% if is_open %}open{% else %}closed{% endif %}">
  {% for item in items %}
    <div class="office-hours__item">
      {% if item.label %}
        {% include "@atoms/text/headings/_heading.twig" with {
            heading_level: 4,
            heading: item.label,
        } %}
      {% endif %}
      {% if item.slots['#markup'] is not empty %}
        {% include "@atoms/text/text/01-paragraph.twig" with {
            copy: item.slots,
        } %}
      {% endif %}
      {% if item.comments['#markup'] is not empty %}
        {% include "@atoms/text/text/01-paragraph.twig" with {
            copy: item.comments,
        } %}
      {% endif %}
    </div>
  {% endfor %}
</div>
