{% set event_listing__base_class = 'event-listing' %}

{# Header #}
<div {{ bem('event-listing-header') }} >
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: component_heading,
  } %}
  {% include "@atoms/buttons/button.twig" with {
    button_content: all_link__text,
    button_url: all_link__url,
    button_modifiers: ['secondary'],
  } %}
</div>
{# Content #}
<div {{ bem(event_listing__base_class, event_listing__modifiers, event_listing__blockname, event_listing__extra_classes) }} >
  {% for event in event_listing %}
    {% include "@molecules/event-card/event-card.twig" with {
      event: event,
      event_card__modifiers: ['border-top'],
    } %}
  {% endfor %}
</div>
