{% extends "@molecules/section/section.twig" %}
  {% set heading = section_title %}
  {% set showTitle = true %}
  {% set no_flexgrid = true %}
  {% set component_level_modifiers = 'custom-flexgrid' %}

  {% if rivers_data.filters.0.link %}
    {% set button_link = rivers_data.filters.0.link %}
    {% set button_value = rivers_data.filters.0.link_text %}
  {% endif %}

  {% set section__extra_class = ['filtered-river'] %}


{% if background %}
  {% set bg_color = 'primary-4' %}
{% endif %}

{% block section_content %}
  {% if rivers_data %}
    <div {{ bem('river-tabs') }}>
    {% for tab in rivers_data.filters %}
      <div {{ bem('tab') }}>
        <a href="#" {{ bem('tab-link link link--large') }}>{{ tab.title }}</a>

        {% if tab.link and tab.link_text %}
          <span class="catalog-link" data-link={{ tab.link }}>{{ tab.link_text }}</span>
        {% endif %}
      
      </div>
    {% endfor %}
    </div>

    {% embed "@organisms/book-river/book-river.twig" %}
      {% block book_river %}
        <div {{ bem('rivers-container') }}>
          {% for item in rivers_data.rivers %}
          <div {{ bem('book-river', book_river_modifiers, book_river_blockname, ['book-river-' ~ loop.index]) }}>
            {% for book in item.river %}
              {% include "@molecules/book/book.twig" with {
                image_src: book.image_src,
                image_alt: book.image_alt,
                url: book.url,
                title: book.title,
                author: book.author,
              } %}
            {% endfor %}
          </div>
          {% endfor %}
          <div {{ bem('button-container') }}>
            <button {{ bem('scroll-button') }}>
              {% include "@atoms/icon/icon.twig" with {
                icon_name: 'arrow-right',
              } %}
            </button>
          </div>
        </div>
      {% endblock %}
    {% endembed %}
  {% endif %}
{% endblock %}
