{% set section__base_class = 'section' %}
{% set section__modifiers = [] %}
{% set section__extra_class = section__extra_class %}

{% if bg_color %}
  {% set section__modifiers = section__modifiers|merge([bg_color]) %}
  {% set section__modifiers = section__modifiers|merge(['with-background']) %}
{% else %}
  {% set section__modifiers = section__modifiers|merge(['no-bg']) %}
{% endif %}

{% if padding %}
  {% set section__modifiers = section__modifiers|merge(['padding-' ~ padding]) %}
{% endif %}

{% if margin %}
  {% set section__modifiers = section__modifiers|merge(['margin-' ~ margin]) %}
{% endif %}

{% if component_level_modifiers %}
  {% set section__modifiers = section__modifiers|merge([component_level_modifiers]) %}
{% endif %}

{% set flexgrid = no_flexgrid ? 'flexgrid-nm' : 'flexgrid' %}

<section {{ bem(section__base_class, section__modifiers, section__blockname, section__extra_class) }}>
  <div {{ bem(flexgrid) }}>
    {% if showTitle %}
      <div {{ bem('header', [], section__base_class) }}>
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 2,
          heading: heading,
        } %}

        {% if button_value %}
          {% include "@atoms/buttons/button.twig" with {
            button_content: button_value,
            button_url: button_link,
            button_modifiers: ['secondary'],
          } %}
        {% endif %}
      </div>
    {% endif %}

    {% block section_content %}

      {# To use this block:
         1. Create a sub template in the component you are using this molecule:
            Example: _xxx-section-content.twig
         2. Extend the molecule on the sub-tamplate and overwrite the section_content block:
            {% extends "@molecules/section/section.twig" %}
            {% set heading = 'some text' %}
            ...
            {% block section_content %}
              // place your content here
            {% endblock %}

        or

          1. Embed the molecule on the tenplate:
            {% embed '@molecules/section/section.twig' %}
              {% set heading = 'Featured Services' %}
               ...
              {% block section_content %}
               // place your content here
              {% endblock %}
            {% endembed %}
        #}

    {% endblock %}
  </div>
</section>
