{% set combo_listing__base_class = 'combo-listing'%}

<div {{ bem(combo_listing__base_class, combo_listing__modifiers, combo_listing__blockname, ['flexgrid-nm'])}}>
  <div {{ bem('card', [], combo_listing__base_class, ['col-xxl-6', 'col-l-12'])}}>
    {% if left is defined %}
      {{ left }}
    {% else %}
      {% include '@organisms/card-listing/card-listing.twig' with {
        component_heading: 'Related News',
        all_link__url: '#',
        all_link__text: 'All News',
        card_listing: card,
      } %}
    {% endif %}
  </div>
  <div {{ bem('card', [], combo_listing__base_class, ['col-xxl-6', 'col-l-12'])}}>
    {% if right is defined %}
      {{ right }}
    {% else %}
      {% include '@organisms/event-listing/event-listing.twig' with {
        component_heading: 'Featured Events',
        all_link__url: '#',
        all_link__text: 'All Events',
        event_listing: events,
      } %}
    {% endif %}
  </div>
</div>
