{% set process_steps_base_class = 'process-steps' %}
{% set process_steps_modifiers = [] %}
{% set i = 1 %}

{% if margin %}
  {% set process_steps_modifiers = process_steps_modifiers|merge(['margin-' ~ margin]) %}
{% endif %}

{# Content #}
<div {{ bem(process_steps_base_class, process_steps_modifiers, process_steps_block_name) }} >
  {% if steps %}
    {% for item in steps %}
      <div {{ bem("step") }}>
        <div class="number">
          {{ i }}
        </div>
        {% set i = i + 1 %}
        <div {{ bem("content") }}>
          {% if item.title %}
            {% include "@atoms/text/headings/_heading.twig" with {
              heading_level: 3,
              heading: item.title,
            } %}
          {% endif %}
          {% if item.body %}
            {% include "@atoms/text/text/01-paragraph.twig" with {
              copy: item.body,
            } %}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
