.sidebar-menu {
  @include list-reset;

  max-width: 100%;
  width: 100%;

  &__link {
    @include heading-medium;

    display: flex;
    width: 100%;
    border-bottom: solid 2px clr(tone-9);
    text-decoration: none;
    margin-bottom: 0;
    padding-bottom: $space-one-half;
    justify-content: space-between;
    align-items: center;

    @include large {
      .fa-chevron-down {
        display: none;
      }
    }
  }

  .sub-menu {
    @include list-reset;

    display: none;
    background-color: clr(primary-4);

    @include large {
      display: block;
    }

    &__link.is-active {
      color: clr(primary-1);
      font-weight: 500;

      &:hover {
        text-decoration: unset;
      }
    }

    &--sub-2,
    &--sub-3 {
      background: transparent;
    }

    &__item--sub-1 {
      border-bottom: solid 2px #fff;

      .sub-menu--sub {
        font-size: 1rem;
        margin-left: $space;
        padding-bottom: 0.5rem;
      }
    }

    a {
      color: #000;
      display: block;
      text-decoration: none;
      width: 100%;
      padding: $space-one-half;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &.is--active {
        color: clr(primary-1);
        font-weight: 600;
      }
    }
  }

  &.open {
    .sub-menu {
      display: block;
      transition: all 0s ease-out;
    }

    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }
}
