{% set event_card__base_class = 'event-card' %}

{% if border == 'top' %}
  {% set event_card__modifiers = ['border-top'] %}
{% elseif border == 'bottom' %}
  {% set event_card__modifiers = ['border-bottom'] %}
{% elseif border == 'none' %}
  {% set event_card__modifiers = ['border-none'] %}
{% endif %}

{# Content #}
<div {{ bem(event_card__base_class, event_card__modifiers, event_card__blockname, event_card__extra_classes) }}>
  {# Short Date #}
  {% if event.date %}
    <div {{ bem('short-date') }}>
      <p>{{ event.short_month }}</p>
      <p>{{ event.day }}</p>
    </div>
  {% endif %}
  {# Right Content #}
  <div {{ bem('right-content') }}>
    {# Heading #}
    {% if event.heading %}
      {{ title_prefix }}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 3,
        heading: event.heading,
        heading_url: event.link__url,
        heading_link_base_class: 'heading-link',
      } %}
      {{ title_suffix }}
    {% endif %}
    {# Long Date #}
    {% if event.date %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: event.date__icon|default('calendar'),
        badge_icon_type: 'regular',
        badge_text: event.date,
        badge_label: showLabels ? 'Date' : '',
      } %}
    {% endif %}
    {# Time #}
    {% if event.time %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: event.time__icon|default('clock'),
        badge_icon_type: 'regular',
        badge_text: event.time,
        badge_label: showLabels ? 'Time' : '',        
      } %}
    {% endif %}
    {# Location #}
    {% if event.location %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: event.location__icon|default('location-dot'),
        badge_icon_type: 'regular',
        badge_text: event.location,
        badge_label: showLabels ? 'Location' : '', 
      } %}
    {% endif %}
    {# Tags #}
    {% if event.tags %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: event.tags__icon|default('tags'),
        badge_icon_type: 'regular',
        badge_text: event.tags,
        badge_label: showLabels ? 'Category' : '', 
      } %}
    {% endif %}
    {# Registration #}
    {% if registration %}
      <div {{ bem(event_card__base_class, [], 'registration-container') }}>

        {% if max_number_registrants is not empty and max_number_registrants != 0 %}
          <p {{ bem('seats') }}>There are <strong>{{ available_seats }}</strong> spaces available for this event.</p>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
