{% extends '@molecules/section/section.twig' %}
  {% set bg_color = 'primary-4' %}
  {% set heading = 'I want to...' %}
  {% set showTitle = true %}

  {% block section_content %}
    {% include '@molecules/how-do-i/how-do-i.twig' with {
      tabs: iWantToData.tab_items,
    } %}
  {% endblock %}
