{% extends '@molecules/section/section.twig' %}
  {% set bg_color = 'primary-4' %}
  {% set heading = 'Featured Events' %}
  {% set showTitle = true %}
  {% set button_value = 'All Events' %}
  {% set button_link = '#' %}

  {% block section_content %}
    {% include '@organisms/event-card-group/event-card-group.twig' with {
      columns: 3,
      event_cards: featuredEventsData.events,
    } %}
  {% endblock %}
