{% extends '@molecules/section/section.twig' %}
{% set bg_color = 'primary-4' %}
{% set padding = 'reduced' %}

{% block section_content %}
  {% include '@molecules/icon-card/icon-card.twig' with {
    icon_card_content: iconCardData,
    icon_color: 'tone-9',
    showDescription: true,
    showCTAArrow: true,
  } %}
{% endblock %}
