{% extends '@molecules/section/section.twig' %}
{% set button_value = 'All News' %}
{% set button_link = '#' %}
{% set columns = '3' %}
{% set heading = 'County News' %}
{% set showTitle = true %}

  {% block section_content %}
    {% include '@organisms/card-group/card-group.twig' with {
      cards: newsData.card_items,
    } %}
  {% endblock %}
