{% extends '@molecules/section/section.twig' %}
{% set padding = 'reduced' %}

{% block section_content %}
  {% include '@organisms/icon-card-group/icon-card-group.twig' with {
    icon_cards: iconCardGroupData.items,
    columns: 4,
  }%}
{% endblock %}
