{% extends '@molecules/section/section.twig' %}
  {% set heading = 'Featured Services' %}
  {% set showTitle = true %}
  {% set button_value = 'All Services' %}
  {% set button_link = '#' %}
  {% set padding = 'reduced' %}

  {% block section_content %}
    {% include '@organisms/icon-card-group/icon-card-group.twig' with {
      columns: 3,
      icon_cards: featuredServicesData.items,
    } %}
  {% endblock %}
