{% set page_layout_modifier = 'full' %}

{% embed '@templates/full-width.twig' %}
  {% block page_system %}
    {% include '@molecules/page-headers/hero-header/hero-header.twig' with {
      heading: homeHeroHeaderData.heading,
      subheading: homeHeroHeaderData.subheading,
      image: homeHeroHeaderData.image,
      display_video: homeHeroHeaderData.display_video,
      video: homeHeroHeaderData.video,
      link: homeHeroHeaderData.link,
    } %}
  {% endblock %}

  {% block page_content %}
    {% include './_section-featured-services.twig' %}
    {% include './_section-i-want-to.twig' %}
    {% include './_section-news.twig' %}
    {% include './_section-featured-events.twig' %}
  {% endblock %}
{% endembed %}
