{% set page_layout_modifier = 'full' %}

{% embed '@templates/full-width.twig' %}
  {% block page_system %}
    {% include '@molecules/page-headers/hero-header/hero-header.twig' with {
      heading: heroHeaderData.heading,
      subheading: heroHeaderData.subheading,
      image: heroHeaderData.image,
      display_video: heroHeaderData.display_video,
      video: heroHeaderData.video,
      link: heroHeaderData.link,
    } %}
  {% endblock %}

  {% block page_content %}
    {% include './_section-cta.twig' %}
    {% include './_section-icon-group.twig' %}
  {% endblock %}
{% endembed %}
