.badge {
  align-items: baseline;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: $space-one-half;
  margin-bottom: $space-one-half;

  &--lighter {
    color: clr(tone-9-opacity-60);

    label {
      color: clr(tone-9-opacity-60);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
  }
}
