{% set badge_base_class = badge_base_class|default('badge') %}
{% set badge_modifiers = [] %}

{% if isLighter %}
  {% set badge_modifiers = badge_modifiers|merge(['lighter']) %}
{% endif %}

{% set additional_attributes = {
  class: bem(badge_base_class, badge_modifiers, badge_blockname),
} %}

<div {{ add_attributes(additional_attributes) }}>
  {% block badge_text %}
    <span {{ bem('icon', [], badge_base_class) }}>
      {% include "@atoms/icon/icon.twig" with {
        icon_type: badge_icon_type,
        icon_name: badge_icon,
      } %}
    </span>
    <span>
    {% if badge_label %}
       <label>{{ badge_label }}: </label>
    {% endif %}
    {{ badge_text }}
    </span>
  {% endblock %}
</div>
