{% if content.field_heading %}
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: content.field_heading,
  } %}
{% endif %}


{% include "@molecules/process-step/process-step.twig" with {
  steps: steps,
} %}
