{% if content.field_heading.0 is not empty %}
  {% if background_type == 'background_color' and not contained %}
    {% set hasBgColor = true %}
  {% endif %}
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_blockname: 'rich-text',
    heading_modifiers: hasBgColor ? 'bg-color' : 'no-bg',
    heading_level: 2,
    heading: content.field_heading,
  } %}
{% endif %}

{% if background_type == 'call_out_box' %}
  {% include "@molecules/call-out-box/call-out-box.twig" with {
    html_content: content.field_body,
      }%}
{% else %}
  {% include "@molecules/rich-text/rich-text.twig" with {
    body: content.field_body,
    hasBgColor: background_type ? 'background_color' : '',
  } %}
{% endif %}
