{% set section_title = content.field_heading %}


  {% if contained %}
    {% set no_flexgrid = true %}
    {% set bg_color = false %}
  {% endif %}

  {% block section_content %}
    {%
      set classes = [
      paragraph.bundle|clean_class,
      'paragraph-content'
    ]
    %}

    <div {{ attributes.addClass(classes) }}>
      {% include "@organisms/stat-card-group/stat-card-group.twig" with {
        columns: columns,
        stat_card_group: icon_stats,
      } %}
    </div>
  {% endblock %}
