{% if content.field_heading %}
  {% set showTitle = true %}
  {% set heading = content.field_heading %}

  {% if button_link %}
    {% set button_value = button_value %}
    {% set button_link = button_link %}
  {% endif %}
{% else %}
  {% set showTitle = false %}
{% endif %}

{% set section__extra_class = 'content-listing'%}

{# @todo: Add this to the event subscriber. #}
{% if content.field_view[0]['contents']['#display_id'] == 'recent_events_all' %}
  {% set bg_color = 'primary-4' %}
{% endif %}

{% extends "@molecules/section/section.twig" %}

  {% if contained %}
    {% set no_flexgrid = true %}
    {% set bg_color = false %}
  {% endif %}

  {% block section_content %}
    {{ content.field_view }}
  {% endblock %}
