{% set showTitle = (paragraph.field_heading.value) ? true : false %}
{% set heading = content.field_heading %}
{% set button_value = (button.text) ?? '' %}
{% set button_link = (button.text) ? button.link : '' %}
{% set bg_color = (paragraph.field_background.value) ? 'primary-4' : 'tone-1' %}
{% set padding = (showTitle) ? 'regular' : 'reduced' %}
{% set section__extra_class = ['section__icon-group']%}

{% if contained %}
  {% set no_flexgrid = true %}
  {% set bg_color = false %}
{% endif %}

{% extends "@molecules/section/section.twig" %}
  {% block section_content %}
    {%
      set classes = [
      paragraph.bundle|clean_class,
      'paragraph-content'
    ]
    %}

    <div{{ attributes.addClass(classes) }}>
      {% include "@organisms/icon-card-group/icon-card-group.twig" with {
        columns: columns,
        icon_cards: icon_cards,
      } %}
    </div>
  {% endblock %}
