{% extends '@molecules/section/section.twig' %}

{% if contained %}
  {% set no_flexgrid = true %}
  {% set bg_color = false %}
{% endif %}

{% block section_content %}

  <div {{ bem('featured-content')}}>
    {% if content.field_heading %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 2,
        heading: content.field_heading,
      } %}
    {% endif %}

    {% include "@organisms/card-group/card-group.twig" with {
      columns: columns,
      group: cards,
    } %}
  </div>

{% endblock %}
