{% set bg_color = 'primary-4' %}
{% set padding = 'reduced' %}
{% extends "@molecules/section/section.twig" %}
  {% block section_content %}
    {%
      set classes = [
      paragraph.bundle|clean_class,
      'paragraph-content'
    ]
    %}
    <div{{ attributes.addClass(classes) }}>
      {{ content }}
    </div>
  {% endblock %}
