{%
  set classes = [
  paragraph.bundle|clean_class,
  'paragraph-content'
]
%}

{% set showTitle = (paragraph.field_heading.value) ? true : false %}
{% set heading = content.field_heading %}
{% set bg_color = 'primary-4' %}
{% set padding = (showTitle) ? 'regular' : 'reduced' %}

{% extends "@molecules/section/section.twig" %}
  {% block section_content %}
    {%
      set classes = [
      paragraph.bundle|clean_class,
      'paragraph-content'
    ]
    %}

    <div{{ attributes.addClass(classes) }}>
      {% include "@molecules/how-do-i/how-do-i.twig" with {
        tabs: menu,
      } %}
    </div>
  {% endblock %}
