<div {{ bem('accordion', [], '', ['paragraph-content'])}}>
  {% if content.field_heading %}
    {% include "@atoms/text/headings/_heading.twig" with {
        heading_base_class: 'title',
        heading_level: 2,
        heading: content.field_heading,
    } %}
  {% endif %}
  {% embed "@molecules/accordions/accordions.twig" with {
      accordion: accordions,
  } %}
  {% endembed %}

</div>
