{% extends "@molecules/section/section.twig" %}
  {% set margin = 'zero' %}

  {% if contained %}
    {% set no_flexgrid = true %}
    {% set bg_color = false %}
  {% endif %}

  {% block section_content %}
    {% if content.field_heading is not empty %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_base_class: 'location',
        heading_level: 2,
        heading: content.field_heading,
      } %}
    {% endif %}

    {% include "@molecules/location-map/location-map.twig" with {
      heading: heading,
      phone: phone,
      email: email,
      show_social: (social_links) ? true : false,
      social_menu_items: social_links,
      addresses: addresses,
      mail_address: mail_address,
      map_id: map,
    } %}
  {% endblock %}
