{% extends "@molecules/section/section.twig" %}
  {% set heading = heading %}
  {% set margin = 'default' %}
  {% set showTitle = true %}
  {% set no_flexgrid = true %}
  {% set component_level_modifiers = 'custom-flexgrid' %}

  {% if button_link %}
    {% set button_value = 'View All' %}
  {% endif %}

  {% if background %}
    {% set bg_color = 'primary-4' %}
  {% endif %}

  {% block section_content %}
    {% include "@organisms/book-river/book-river.twig" with {
      books: catalog_river,
    } %}
  {% endblock %}
