// Sass map to define colors. Each set should have a "Dark" variation when required.
// e.g. `default` and `default-dark`. Or `purple` and `purple-dark`.
$button-colors: (
  primary: (
    text: clr(tone-1),
    bg: clr(primary-1),
    text-hover: clr(tone-1),
    bg-hover: clr(primary-2),
  ),
  primary-dark: (
    text: clr(tone-1),
    bg: clr(primary-1),
    text-hover: clr(tone-1),
    bg-hover: clr(primary-2),
  ),
  secondary: (
    text: clr(tone-9),
    bg: clr(primary-4-darker),
    text-hover: clr(tone-1),
    bg-hover: clr(primary-2),
  ),
  secondary-dark: (
    text: clr(tone-9),
    bg: clr(primary-4-darker),
    text-hover: clr(tone-1),
    bg-hover: clr(primary-2),
  ),
);

// Mixin to define colors for one or more schemes.
// Simply pass the color scheme to the mixin to get the colors defined in the map.
// e.g. @include buttonColors(default) will get all of the colors defined in the "default" section.
@mixin buttonColors(
  $scheme,
  $pallate: map-get($button-colors, $scheme),
  $map: $button-colors
) {
  color: map-get($pallate, text);
  background-color: map-get($pallate, bg);

  &:visited {
    color: map-get($pallate, text);
  }

  &:focus,
  &:active,
  &--active {
    background-color: map-get($pallate, bg-hover);
    color: map-get($pallate, text-hover);
    outline: 2px solid var(--c-tone-9);
    outline-offset: 4px;
  }

  &:hover {
    color: map-get($pallate, text-hover);
    background-color: map-get($pallate, bg-hover);
  }
}

// The button-base mixin contains styles that apply to all buttons
// regardless of color or size.
@mixin button-base {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  text-align: center;

  &:focus,
  &:active,
  &--active {
    outline: 2px solid var(--c-tone-9);
    outline-offset: 4px;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }
}

// Button color variations
// Note how we include dark mode options for each
@mixin button-color-primary {
  @include buttonColors(primary);

  @media (prefers-color-scheme: dark) {
    @include buttonColors(primary-dark);
  }
}

@mixin button-color-secondary {
  @include buttonColors(secondary);

  @media (prefers-color-scheme: dark) {
    @include buttonColors(secondary-dark);
  }
}

// Button size variations
@mixin button-medium {
  padding: calc($space - $space-one-third) calc($space + $space-one-eighth);
}

@mixin button-large {
  line-height: 2;
  padding: $space $space-double;
}

.button {
  @include button-base;
  @include button-color-primary;
  @include button-medium;

  &--secondary {
    @include button-color-secondary;

    position: relative;
  }

  .icon {
    padding-right: $space-one-fourth;
  }

  &--small {
    font-size: 0.9rem;
    padding: $space-one-fourth $space-one-half;
  }

  &.ext {
    color: clr(tone-1);

    &:hover {
      color: clr(tone-1);
    }

    svg {
      fill: clr(tone-1);
      padding-left: 0.2rem;
      height: 15px;
      width: 22px;

      path {
        stroke: clr(tone-1);
      }
    }
  }
}
