{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set button_base_class = button_base_class|default('button') %}

{% if isActive %}
  {% set button_modifiers = button_modifiers|merge(['active']) %}
{% endif %}

{% if not additional_attributes %}
  {% set additional_attributes = {
    class: bem(button_base_class, button_modifiers, button_blockname, button_extra_class),
  } %}
{% else %}
  {% set additional_attributes = additional_attributes|merge({class: bem(button_base_class, button_modifiers, button_blockname, button_extra_class)}) %}
{% endif %}
<a {{ add_attributes(additional_attributes) }} {% for attribute, value in button_link_attributes %} {{ attribute }}="{{ value }}" {% endfor %} href="{{ button_url }}">
{% block button_content %}
  {% if button_icon %}
    {% include "@atoms/icon/icon.twig" with {
      icon_type: button_icon_type|default('regular'),
      icon_name: button_icon,
    } %}
  {% endif %}
  {{ button_content }}
  {% if cta %}
    {% include "@atoms/icon/icon.twig" with {
      icon_type: button_icon_type|default('regular'),
      icon_name: 'arrow-right',
    } %}
  {% endif %}
{% endblock %}
</a>
