{% set resource_card__base_class = 'resource_card' %}

{% if card_img_src is empty %}
  {% set resource_card__modifiers = ['no-image'] %}
{% endif %}

<div
  {{ bem(resource_card__base_class, resource_card__modifiers, resource_card__blockname, resource_card__extra_classes) }}>
  {# Image #}
  {% if card_img_src %}
    {% embed "@atoms/links/link/link.twig" %}
      {% set link_url = card_link %}
      {% block link_content %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          image_blockname: resource_card__base_class,
          output_image_tag: true,
          image_src: card_img_src,
          image_alt: card_img_alt,
        } %}
      {% endblock %}
    {% endembed %}
  {% endif %}

  {# Content #}
  <div {{ bem('content', resource_card__base_class, resource_card__modifiers) }}>
    {# Heading #}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading_level: 3,
      heading: card_heading,
      heading_url: card_link,
      heading_link_base_class: 'heading-link',
    } %}

    {# Body #}
    {% if card_body %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
        copy: card_body,
      } %}
    {% endif %}

    {# Badges #}
    {% if card_audience %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: 'family',
        badge_text: card_audience,
        badge_label: 'Audience',
        isLighter: true,
      } %}
    {% endif %}

    {% if card_type %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: 'folders',
        badge_text: card_type,
        badge_label: 'Type',
        isLighter: true,
      } %}
    {% endif %}
  </div>
</div>
