{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% set breadcrumb__base_class = 'breadcrumb' %}

{% if breadcrumb %}
  <nav {{ bem(breadcrumb__base_class, [], '', ['flexgrid'] ) }} role='navigation' aria-labelledby='system-breadcrumb'>
    <h2 {{ bem('visually-hidden') }} id='system-breadcrumb'>{{ 'Breadcrumb'|t }}</h2>
    <ol>
    {% for item in breadcrumb %}
      <li {{ bem('item', [], breadcrumb__base_class) }}>
        {% if item.url %}
          <a {{ bem('link', [], breadcrumb__base_class) }} href="{{ item.url }}">{{ item.text }}</a>
          {% if not loop.last %}
            <span class="angle">
              <i class="fa-solid fa-slash-forward"  role="presentation"></i>
            </span>
          {% endif %}
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
