.tabs__link,
.tabs__link--local-tasks {
  border-bottom: none;
  color: clr(tone-9);
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1em 2.4em;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;

  @include large {
    border-left: none;
    display: inline-block;
    font-size: 1rem;
    padding: 0.6em 1.7em;
    position: relative;
    top: 1px;
    width: auto;
  }

  &:hover {
    color: clr(accent-1);
  }

  &.is-active {
    background-color: clr(tone-9-opacity-15);
    color: clr(tone-9);
  }
}
