{% embed "@templates/_default.twig" %}
  {% block page_system %}
    {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" with {
        breadcrumb: breadcrumbs.breadcrumb,
    }%}
  {% endblock %}

  {% block page_content %}
    {% include "@molecules/page-headers/page-header/page-header.twig" with {
      heading: 'County Approves $2.7 million contract for 2022 road overlay',
      date: 'Oct 20, 2022'
    } %}

    <div {{bem('article', [], '', ['flexgrid-nm'])}}>
      <div {{bem('main-content', [], 'article', ['col-xxl-7', 'col-l-12'])}}>
        {% include "@molecules/rich-text/rich-text.twig" with {
          heading: 'Rich Text paragraph heading',
          body: '<p>Curabitur non <strong>nulla sit amet nisl</strong> tempus convallis quis ac lectus. <em>Praesent sapien massa</em>, 
              convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
              Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. 
              Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
              <p>Vestibulum ante <a href="#">ipsum primis in faucibus orci</a> luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. 
              Nulla quis lorem ut libero malesuada feugiat. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ac diam sit amet 
              quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
              posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Cras ultricies ligula sed magna dictum porta. Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
              </p>'
        }%}

        <div class="badge-group">
          {% include "@atoms/badges/badge.twig" with {
            badge_icon: 'building',
            badge_icon_type: 'regular',
            badge_label: 'Department',
            badge_text: 'Commissioners',
            isLighter: true,
          }%}
          {% include "@atoms/badges/badge.twig" with {
            badge_icon: 'tags',
            badge_icon_type: 'regular',
            badge_label: 'Type',
            badge_text: 'Press Release',
            isLighter: true,
          }%}
          {% include "@atoms/badges/badge.twig" with {
            badge_icon: 'folders',
            badge_icon_type: 'regular',
            badge_label: 'Category',
            badge_text: 'County News',
            isLighter: true,
          }%}
        </div>

        {% include "@molecules/call-out-box/call-out-box.twig" with {
            html_content: callOutBox.content,
        }%}

      </div>
      <div {{bem('image', [], 'article', ['col-xxl-5', 'col-l-12'])}}>
        {% include "@atoms/images/image/responsive-image.twig" with {
          image_src: 'https://placeimg.com/900/900/nature',
          image_alt: 'Placeholder',
        } %}
      </div>  
    </div>
  {% endblock %}
{% endembed %}
