<article {{ bem("node") }}>

  {% include "@molecules/page-headers/page-header/page-header.twig" with {
    heading: label,
    hide_date: 1,
  } %}

  <div{{ content_attributes }}>
    {{ content.content_moderation_control }}
    {{ content.field_content }}
  </div>

</article>
