{% set card = {
    card__image__src: image.url,
    card__image__alt: image.alt,
    card__default__title: content.field_short_title,
    card__heading: node.title.value|raw,
    card__body: content.field_summary,
    card__image__output_image_tag: true,
    card__tags: tags,
    card__link__url: url,
    card__link__text: "Learn More",
} %}
{% embed "@molecules/card/homepage-card.twig" with {
    card,
} %}
{% endembed %}