<article {{ bem("node") }}>

  {% include "@molecules/page-headers/image-header/image-header.twig" with {
    "heading": label,
    "subheading": content.field_summary,
    "menu_links": menu_items,
    "image_src": image.url,
    "image_alt": image.alt,
    "hide_image_bio": hide_bio,
    "image_bio_name": content.field_name,
    "image_bio_title": content.field_job_title,
  } %}

  <div{{ content_attributes }}>
    {{ content.content_moderation_control }}
    {{ content.field_content }}
  </div>

</article>
