<article {{ bem("node") }}>
  {{ content.content_moderation_control }}

  {% include "@molecules/page-headers/page-header/page-header.twig" with {
    heading: label,
    hide_date: 1,
  } %}

  <div {{ bem('event-detail') }}>
    <div {{ bem('content', [], 'event-detail', ['flexgrid-nm']) }}>
      <div {{ bem ('col-xxl-7 col-xl-7 col-l-12') }}>
        {% include '@molecules/rich-text/rich-text.twig' with {
          body: body,
        } %}
        {% if virtual_details %}
          {% include '@molecules/rich-text/rich-text.twig' with {
            body: virtual_details,
          } %}
        {% endif %}
        {% if registration and (((max_number_registrants - cur_number_registrants) > 0) or (max_number_registrants is null or max_number_registrants is empty)) %}
          <script type="text/javascript" src="https://form.jotform.com/jsform/{{ registration_form_id }}"></script>
        {% endif %}

        <div {{ bem('bottom', [], 'event-detail') }}>
          {% if event_type %}
            {% include "@atoms/badges/badge.twig" with {
              badge_icon: 'tags',
              badge_icon_type: 'light',
              badge_text: event_type,
              badge_label: 'Event Type',
              isLighter: true,
            } %}
          {% endif %}

          {% if event_audience %}
            {% include "@atoms/badges/badge.twig" with {
              badge_icon: 'family',
              badge_icon_type: 'light',
              badge_text: event_audience,
              badge_label: 'Audience',
              isLighter: true,
            } %}
          {% endif %}
        </div>
      </div>
      <div {{ bem('event-detail-card col-xxl-4 col-xl-4 col-l-12') }}>
        {% if image.url %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            image_src: image.url,
            image_alt: image.alt,
          } %}
        {% endif %}

        {% include '@molecules/event-card/event-card.twig' with {
          event: event,
        } %}
      </div>
    </div>
{% if not is_virtual and map is defined %}
    <div {{ bem('location', [], 'event-detail') }}>
      {% include '@molecules/location-map/location-map.twig' with {
        show_social: false,
        addresses: addresses,
        map_id: map,
      } %}
    </div>
  </div>
{% endif %}
  </div>
</article>
