{% embed "@molecules/horizontal-card/horizontal-card.twig" with {
  horizontal_card__image__output_image_tag: false,
  horizontal_card__heading: label,
  horizontal_card__summary: content.field_summary,
  horizontal_card__link__url: url,
  horizontal_card__tags: tags,
} %}
{% endembed %}
