<article {{ bem("node") }}>

  {% include "@molecules/page-headers/page-header/page-header.twig" with {
    heading: label,
    date: date.page_header,
  } %}

  <div {{bem('flexgrid-nm')}}>
    <div {{bem('main-content', [], 'article')}}>

      {{ content.content_moderation_control }}
      
      {% if image.url %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          image_src: image.url,
          image_alt: image.alt,
        } %}
      {% endif %}

      {{ content.field_content }}

      <div class="badge-group">

        {% if department %}
          {% include "@atoms/badges/badge.twig" with {
            badge_icon: 'building',
            badge_icon_type: 'regular',
            badge_label: 'Department',
            badge_text: department,
            isLighter: true,
          }%}
        {% endif %}

        {% if type %}
          {% include "@atoms/badges/badge.twig" with {
            badge_icon: 'tags',
            badge_icon_type: 'regular',
            badge_label: 'Type',
            badge_text: type,
            isLighter: true,
          }%}
        {% endif %}

        {% if category %}
          {% include "@atoms/badges/badge.twig" with {
            badge_icon: 'folders',
            badge_icon_type: 'regular',
            badge_label: 'Category',
            badge_text: category,
            isLighter: true,
          }%}
        {% endif %}
      </div>

      {% if display_contact %}
        {% include "@molecules/call-out-box/call-out-box.twig" with {
          html_content: content.field_person,
        }%}
      {% endif %}

    </div>
  </div>
</article>
