{% embed "@molecules/event-card/event-card.twig" with {
    event: event,
    event_card__modifiers: ['border-bottom'],
    registration: registration,
    available_seats: available_seats
} %}
{% endembed %}
