{% set branch__base_class = 'branch' %}

<article {{ bem(branch__base_class) }}>
  <div {{ bem('container') }}>
    <div {{ bem('info', [], branch__base_class, ['col-lg-12', 'col-xxl-6'])}}>
      <div {{bem('summary', [], branch__base_class) }}>

        {% if content.field_summary %}
          {% include "@atoms/text/text/01-paragraph.twig" with {
            copy: content.field_summary,
          } %}
        {% endif %}

      </div>
      <div {{ bem('detail', [], branch__base_class) }}>
        <div {{ bem('detail-left', [], branch__base_class, ['col-lg-12', 'col-xxl-6'])}}>

          {% if content.field_address %}
            {% include "@atoms/text/headings/_heading.twig" with {
              heading_level: 3,
              heading: 'Address',
            } %}

            {% include "@atoms/links/link/link.twig" with {
              link_url: address_url,
              link_content: address_title,
            } %}
          {% endif %}

          {% if content.field_hours %}
            {% include "@atoms/text/headings/_heading.twig" with {
              heading_level: 3,
              heading: 'Hours',
              heading_modifiers: 'hours',
            } %}
            {{ content.field_hours }}
          {% endif %}

        </div>
        <div {{ bem('detail-right', [], branch__base_class, ['col-lg-12', 'col-xxl-6'])}}>

          {% if content.field_amenities %}
            {% include "@atoms/text/headings/_heading.twig" with {
              heading_level: 3,
              heading: 'Library Amenities',
            } %}

            {% for item in amenities %}
              {% include "@atoms/badges/badge.twig" with {
                badge_icon: item.icon,
                badge_icon_type: 'regular',
                badge_text: item.title,
                isLighter: true,
              }%}
            {% endfor %}

          {% endif %}

        </div>
      </div>
    </div>
    <div {{ bem('image', [], branch__base_class, ['col-l-12', 'col-xxl-6'])}}>

      {% if content.field_image %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          output_image_tag: true,
          image_src: image.url,
          image_alt: image.alt,
        } %}
      {% endif %}

    </div>
  </div>

  <div{{ content_attributes }}>
    {{ content.content_moderation_control }}
    {{ content.field_content }}
  </div>

</article>
