{% set card = {
    card__image__src: image.url,
    card__image__alt: image.alt,
    card__image__output_image_tag: image.url ? true : false,
    card__default__title: content.field_short_title,
    card__heading: label,
    card__body: content.field_summary,
    card__date: date,
    card__tags: tags,
    card__link__url: url,
} %}
{% embed "@molecules/card/card.twig" with {
    card,
} %}
{% endembed %}
