{% include "@molecules/resource-card/resource-card.twig" with {
    card_img_src: resource_image.url,
    card_img_alt: resource_image.alt,
    card_body: resource_summary,
    card_link: resource_link,
    card_heading: label,
    card_type: resource_type,
    card_audience: resource_audience,
} %}