{% set resource__base_class = 'resource' %}

<article {{ bem(resource__base_class) }}>

  {{ content.content_moderation_control }}

  {% include "@molecules/page-headers/page-header/page-header.twig" with {
    heading: label,
    hide_date: 1,
  } %}

  <div {{ bem('container') }}>
    <div {{ bem('content', [], resource__base_class, ['col-lg-12', 'col-xxl-8'])}}>
    
    {{ content.field_content }}

      {% if content.field_link.0 %}
        {% include "@atoms/buttons/button.twig" with {
          button_base_class: 'button',
          button_extra_class: 'resource-link',
          cta: true,
          button_content: 'Go to Resource',
          button_url: resource_link,
        } %}
      {% endif %}

    </div>
    <div {{ bem('image', [], resource__base_class, ['col-lg-12', 'col-xxl-4'])}}>

      {% if content.field_image %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          image_src: resource_image.url,
          image_alt: resource_image.alt,
        } %}
      {% endif %}

    </div>
  </div>

  <div {{ bem('tags', [], resource__base_class, ['col-lg-12', 'col-xxl-8']) }}>

    {% if content.field_audience %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: 'family',
        badge_icon_type: 'regular',
        badge_label: 'Audience',
        badge_text: content.field_audience,
        isLighter: true,
      }%}
    {% endif %}

    {% if content.field_resource_type %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: 'folders',
        badge_icon_type: 'regular',
        badge_label: 'Resource Type',
        badge_text: content.field_resource_type,
        isLighter: true,
      }%}
    {% endif %}

    {% if content.field_resource_categories %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: 'tags',
        badge_icon_type: 'regular',
        badge_label: 'Resource Category',
        badge_text: content.field_resource_categories,
        isLighter: true,
      }%}
    {% endif %}

  </div>
</article>
