{% if display_video %}
  {% set hero_heading =  heading ? heading : '' %}
{% else %}
  {% set hero_heading = label %}
{% endif %}

<article {{ bem('node') }}>
  {% if header_content and not menu_links %}
    {% include "@molecules/page-headers/hero-icon-links/hero-icon-links.twig" with {
        image: image_url,
        icon_links: header_content,
    } %}
  {% elseif menu_links %}
    {% include "@molecules/page-headers/image-header/image-header.twig" with {
        modifiers: ['button-links'],
        hide_image_bio: true,
        subheading: false,
        heading: label,
        image_src: image_url,
        header_content: header_content.0,
        menu_links: menu_links,
    } %}
  {% elseif homepage == true %}
    {% set home_header_data = {
      icon_type: 'light',
      icon_name: cta_icon,
      url: cta_url,
      link_text: cta_link,
    } %}
    {% include "@molecules/page-headers/home-header/home-header.twig" with {
      home_header_data,
      image: image_url,
    } %}
  {% else %}
    {% include "@molecules/page-headers/hero-header/hero-header.twig" with {
      "display_video": display_video,
      "video": video,
      "heading": hero_heading,
      "link": heading_url,
      "heading_link_attributes": {
        'rel': 'bookmark'
      },
      "image": image_url,
      "subheading": subheading,
    } %}
  {% endif %}

  <div{{ content_attributes }}>
    {{ content.content_moderation_control }}
    {{ content.field_content }}
  </div>

</article>
