{% set card = {
  card__image__src: image.url,
  card__image__alt: image.alt,
  card__image__output_image_tag: true,
  card__heading: label,
  card__body: address,
  card__link__url: url}
%}

{% embed "@molecules/card/card.twig" with {
    card,
} %}
{% endembed %}
