<article {{ bem("service") }}>
  {% include "@molecules/page-headers/page-header/page-header.twig" with {
    heading: label,
    hide_date: 1,
  } %}

  <div{{ content_attributes }}>
    {{ content.content_moderation_control }}
    {{ content.field_content }}
  </div>

  <div {{ bem('service--contact') }}>

    {% if content.field_service_contact %}
      {% include "@molecules/call-out-box/call-out-box.twig" with {
        html_content: content.field_service_contact,
      }%}
    {% endif %}

  </div>

  <div {{ bem('service--tags') }}>

    {% if content.field_service_category %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: 'tags',
        badge_icon_type: 'regular',
        badge_label: 'Service Category',
        badge_text: content.field_service_category,
        isLighter: true,
      }%}
    {% endif %}

    {% if content.field_audience %}
      {% include "@atoms/badges/badge.twig" with {
        badge_icon: 'family',
        badge_icon_type: 'regular',
        badge_label: 'Audience',
        badge_text: content.field_audience,
        isLighter: true,
      }%}
    {% endif %}

  </div>

</article>
