<p><strong>Media Inquiries, contact:</strong></p>
<p>
  {{ label }} </br>

  {% if departments %} {{ departments }} <br/> {% endif %}

  {% if title %} {{ title }} <br/> {% endif %}
</p>

{% if email %} <a href="mailto: {{ email }}">{{ email }}</a> {% endif %}<br/>
{% if phone %} {{ phone }} {% endif %}
