{% embed "@molecules/horizontal-card/library/horizontal-card.twig" with {
  horizontal_card__image__src: image.url,
  horizontal_card__image__alt: image.alt,
  horizontal_card__image__output_image_tag: image.url ? true : false,
  horizontal_card__heading: label,
  horizontal_card__summary: content.field_summary,
  horizontal_card__date: date,
  horizontal_card__tags: tags,
  horizontal_card__link__url: url,
  border: 'top',
} %}
{% endembed %}
