{% embed "@molecules/horizontal-card/library/horizontal-card.twig" with {
    horizontal_card__img_src: image.url,
    horizontal_card__img_alt: image.alt,
    horizontal_card__link__url: event.link__url,
    horizontal_card__heading: event.heading,
    horizontal_card__date: event.date,
    horizontal_card__time: event.time,
    horizontal_card__location: event.location,
    horizontal_card__location_url: event.branch_url,
    horizontal_card__summary: event.summary,
    border: 'top',
} %}
{% endembed %}
