{% include '@molecules/author-event-card/author-event-card.twig' with {
    card_img_src: image.url,
    card_img_alt: image.alt,
    card_link: event.link__url,
    card_heading: event.heading,
    card_body: event.summary,
    card_date: event.date,
    card_time: event.time,
    card_location: event.location,
    card_location_url: event.branch_url,
    isHorizontal: true,
} %}
