{% embed "@molecules/alerts/alerts.twig" with {
    alert_level: alert_level,
    icon: 'triangle-exclamation',
    title: title,
    body: body|render,
    dismissible: dismissible
} %}
{% endembed %}
