{% embed "@molecules/horizontal-card/library/horizontal-card.twig" with {
    horizontal_card__image__src: resource_image.url,
    horizontal_card__image__alt: resource_image.alt,
    horizontal_card__image__output_image_tag: resource_image.url ? true : false,
    horizontal_card__heading: label,
    horizontal_card__summary: content.field_summary,
    horizontal_card__tags: resource_audience,
    horizontal_card__tags__icon: 'family',
    horizontal_card__type: resource_type,
    horizontal_card__type_icon: 'folders',
    horizontal_card__link__url: resource_link,
    border: 'top',
} %}
{% endembed %}
