{% set horizontal_card = {
  card__image__src: image.url,
  card__image__alt: "",
  card__image__output_image_tag: false,
  card__heading: label,
  card__body: content.field_summary,
  card__date: date,
  card__tags: tags,
  card__link__url: url,
} %}

{% embed "@molecules/horizontal-card/horizontal-card.twig" with {
  horizontal_card: horizontal_card,
} %}
{% endembed %}
