.home-header {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: clr(tone-1);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 50%;
  margin-left: -50vw;
  min-height: 18.75rem;
  overflow: hidden;
  padding-bottom: 50vw;
  position: relative;
  width: 100vw;
  z-index: 0;

  @include medium {
    justify-content: center;
    padding-bottom: 0;
    min-height: 31.25rem;
  }

  .home-header__container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.25rem;

    @include small {
      margin-top: 4rem;
    }

    @include medium {
      justify-content: flex-end;
      margin-top: 18.75rem;
    }

    .featured-link {
      background-color: clr(primary-3);
      opacity: 0.95;
      padding: $space-s;
      margin-bottom: 0;
      width: 100%;

      @include medium {
        padding: 1.56rem;
        width: 33.33%;
      }

      .icon-card--link {
        .h3 {
          text-decoration-color: clr(tone-1-opacity-15);
        }

        &:hover {
          .h3 {
            text-decoration-color: clr(tone-1);
          }
        }
      }
    }
  }
}
