{% set home_header__base_class = 'home-header' %}

{% set additional_attributes = {
    class: bem(home_header__base_class, home_header_modifiers, home_header_blockname),
    style: 'background-image:url(' ~ image ~ ')',
} %}

<div {{ add_attributes(additional_attributes) }} >
  <div {{ bem('container', ['image'], home_header__base_class, ['flexgrid']) }}>
    {% if home_header_data %}
      <div class="featured-link col-md-12 col-l-6 col-xl-4 col-xxl-4">
        {% include '@molecules/icon-card/icon-card.twig' with {
          icon_card_content: home_header_data,
          text_color: 'tone-1',
          icon_color: 'tone-1',
          linked: true,
          showDescription: false,
          showCTAArrow: false,
        } %}
      </div>
    {% endif %}
  </div>
</div>
