{% block book_river %}

  {% set book_river_base_class = book_river_base_class|default('book-river') %}

  <div {{ bem(book_river_base_class, book_river_modifiers, book_river_blockname) }}>
    {% if books %}
      {% for book in books %}
        {% include "@molecules/book/book.twig" with {
          image_src: book.image_src,
          image_alt: book.image_alt,
          title: book.title,
          url: book.url,
          author: book.author,
        } %}
      {% endfor %}
    {% endif %}
  </div>
  <div {{ bem('button-container') }}>
    <button {{ bem('scroll-button') }}>
      {% include "@atoms/icon/icon.twig" with {
        icon_name: 'arrow-right',
      } %}
    </button>
  </div>

{% endblock %}
