@import '~leaflet/dist/leaflet.css';

.location-map {
  background-color: clr(primary-4);

  @include large {
    background-color: clr(tone-1);
  }

  &__info {
    padding: $space-s $space-s $space-one-half;

    @include large {
      border-top: solid 2px clr(tone-9);
      border-bottom: solid 2px clr(tone-9-opacity-15);
      padding: $space-s-desktop calc($col-gap/2) $space-s-desktop 0;
      margin-bottom: 0;
    }
  }

  &__phone {
    margin-bottom: 0.5rem;
  }

  &__email {
    svg.mailto {
      display: none;
    }
  }

  &__form-link {
    margin-top: 0.5rem;
  }

  .social-links {
    margin: $space-s 0;

    @include large {
      margin: $space-s-desktop 0;
    }

    svg.ext {
      display: none;
    }
  }

  &__mail-address {
    .h4 {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  &__addresses {
    margin: $space-s 0;

    @include large {
      margin: $space-s-desktop 0;
    }

    .h4 {
      margin-bottom: 0;
    }

    .office-hours {
      margin: 0.5rem 0;

      p {
        margin: 0;
      }

      &__item-label {
        display: inline;
        font-weight: 400;
      }
    }

    .address {
      margin-bottom: $space-s;

      @include large {
        margin-bottom: $space-s-desktop;
      }
    }
  }

  &__map {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;

    @include large {
      padding: 0 0 0 calc($col-gap/2);
    }

    .map {
      height: 100vw;
      width: 100%;

      @include large {
        min-height: 500px;
        height: 100%;
      }

      .leaflet-control-container {
        position: relative;
        z-index: 400;
      }

      .leaflet-popup-content {
        h4 {
          margin: 0;
        }
      }
    }
  }

  /* Fix accessibility warning */
  .leaflet-control-attribution {
    a {
      text-decoration: underline;

      &:hover {
        color: clr(tone-9);
      }
    }
  }
}
