{% set location_map__base_class = 'location-map'%}

{% if not map %}
  {% set map = 'map' %}
{% endif %}

<div {{ bem(location_map__base_class, location_map__modifiers, location_map__blockname, ['flexgrid-nm']) }}>
  <div {{ bem('info', [], location_map__base_class, ['col-xxl-4', 'col-l-12']) }}>
    {% if heading %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 3,
        heading: heading,
        heading_blockname: location_map__base_class
      } %}
    {% endif %}
    {% if phone %}
      <div {{ bem('phone', [], location_map__base_class) }}>
        {% include "@atoms/links/link/link.twig" with {
          link_content: phone,
          link_modifiers: ['dark'],
          link_url: 'tel:' ~ phone,
          link_label: phone,
        } %}
      </div>
    {% endif %}
    {% if email %}
      <div {{ bem('email', [], location_map__base_class) }}>
        {% include "@atoms/links/link/link.twig" with {
          link_content: email,
          link_url: 'mailto:' ~ email,
          link_label: email,
        } %}
      </div>
    {% endif %}

    {% if show_social == true %}
      {% include "@molecules/social-links/social-links.twig" with {
        social_menu_items: social_menu_items
      }%}
    {% endif %}

    <div {{ bem('addresses', [], location_map__base_class) }}>
      {% for address in addresses %}
        <div {{ bem('address', [], '') }}>
          {% if address.company %}
            {% include "@atoms/text/headings/_heading.twig" with {
              heading_level: 4,
              heading: address.company,
              heading_blockname: location_map__base_class,
            } %}
          {% endif %}


          {% embed "@atoms/links/link/link.twig" %}
            {% set link_url = address.map_url %}
            {% set link_attributes = {target: '_blank'} %}
            {% set link_label = address.street_address ~ " " ~ address.city ~ " " ~ address.state ~ " " ~ address.zip_code %}

            {% block link_content %}
              {{ address.street_address }} <br />
              {% if address.address_line_2 %}
                {{ address.address_line_2 }}<br />
              {% endif %}
              {{ address.city }}, {{ address.state }} {{ address.zip_code }}
            {% endblock %}
          {% endembed %}

          {% if address.hours %}
            <div {{ bem('office-hours', [], '') }}>
              {{ address.hours }}
            </div>
          {% endif %}

          {% if address.phone %}
            <div {{ bem('phone', [], '') }}>
              {% set phone_url = 'tel:' ~ address.phone %}
              {% include "@atoms/links/link/link.twig" with {
                link_content: address.phone,
                link_url: phone_url,
                link_label: address.phone,
              } %}
            </div>
          {% endif %}

          {% if address.form_link_url %}
            <div {{ bem('form-link', [], location_map__base_class) }}>
              {% include "@atoms/links/link/link.twig" with {
                link_content: address.form_link_title,
                link_url: address.form_link_url,
              } %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if mail_address %}
      <div {{ bem('mail-address', [], location_map__base_class) }}>
        {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 4,
          heading: 'Mailing Address',
        } %}
        <p>
          {{ mail_address.street_address }}<br />
          {% if mail_address.street_address_2 %}
            {{ mail_address.street_address_2 }}<br />
          {% endif %}
          {{ mail_address.city}}, {{ mail_address.state}} {{ mail_address.zip_code}}
        </p>
      </div>
    {% endif %}
  </div>
  {% if map is defined %}
    <div {{ bem('map', [], location_map__base_class, ['col-xxl-8', 'col-l-12']) }}>
      <div id="{{ map }}" class="map"></div>
    </div>
  {% endif %}
</div>
