{% set simple_banner__base_class = 'simple-banner' %}

{% if copy %}
  <div {{ bem(simple_banner__base_class, simple_banner__modifiers, simple_banner__blockname, simple_banner__extra_classes) }}>
    <div {{ bem('content', [], simple_banner__base_class, ['flexgrid'] )}}>
     {{ copy|raw }}
    </div>
  </div>
{% endif %}
