{% set hero_header__base_class = 'hero-header' %}
{% set hero_header_modifiers = display_video and video ? ['video'] : ['image'] %}

{% set additional_attributes = {
    class: bem(hero_header__base_class, hero_header_modifiers, hero_header_blockname),
    style: 'background-image:url(' ~ image ~ ')',
} %}

{% if display_video and video %}
    {% set video_source_attributes = {
        src: video,
        type: 'video/mp4'
    } %}
    <div {{ add_attributes(additional_attributes) }} >
        <!-- The video -->
        <video autoplay muted loop id="heroVideo">
            <source {{ add_attributes(video_source_attributes) }}>
            <track src="./generic-no-audio.cc.vtt" kind="captions" label="no_audio_captions">
        </video>
        <div {{ bem('container', ['video'], hero_header__base_class, ['flexgrid']) }}>
            <div {{ bem('controls', [], hero_header__base_class, ['col-md-12','col-l-2','col-xxl-2']) }}>
                {% include "@atoms/buttons/button.twig" with {
                    button_icon: 'play-pause',
                    button_icon_type: 'solid',
                    button_content: 'PAUSE / PLAY',
                    button_modifiers: ['small'],
                    button_extra_class: ['pause-play-btn'],
                } %}
            </div>
            {% if heading %}
              <div {{ bem('content', [], hero_header__base_class, ['col-md-12','col-l-4','col-xxl-4']) }}>
                  {% if link %}
                    {% include "@molecules/page-headers/hero-header/_hero-video-link.twig" with {
                      "link_url": link,
                    }%}
                  {% else %}
                    {{ heading }}
                  {% endif %}
              </div>
            {% endif %}
        </div>
    </div>
{% else %}
    <div {{ add_attributes(additional_attributes) }} >
        <div {{ bem('container', ['image'], hero_header__base_class, ['flexgrid']) }}>
            <div {{ bem('content', [], hero_header__base_class, ['col-md-12','col-l-3','col-xxl-3']) }}>
                {% include "@atoms/text/headings/_heading.twig" with {
                    heading_base_class: 'title',
                    heading_blockname: hero_header__base_class,
                    heading_level: 1,
                    heading: heading,
                } %}

                {% if subheading %}
                    <p {{ bem('subheading', [], hero_header__base_class) }}>{{ subheading }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
