{% set title_id = 'accordion-' ~ id %}

{% if accordion_item %}
  <div class="accordion-item">
    <button  aria-controls={{id}} id={{title_id}} class="accordion-title">
      {{ title }}
    </button>
    <i class="fa-solid fa-chevron-down"  role="presentation"></i>
  </div>
  <div class="accordion-text" id={{id}} role='region' aria-labelledby={{title_id}} hidden>
    {{ text }}
  </div>
{% endif %}
