{% set accordion__base_class = 'accordion-group' %}
{% set accordion__modifiers = [] %}

{% if margin %}
  {% set accordion__modifiers = accordion__modifiers|merge(['margin-' ~ margin]) %}
{% endif %}

<div {{ bem(accordion__base_class, accordion__modifiers, accordion__blockname, accordion__extra_class) }}>
  {% if accordion %}
    {% for key, accordion_item in accordion %}
      {% include "@molecules/accordions/_accordion-item.twig" with {
        title: accordion_item.title,
        text: accordion_item.text,
        id: accordion_item.id,
      } %}
    {% endfor %}
  {% endif %}
</div>
