<div class="form-item">
  <input autocorrect="none" autocapitalize="none" spellcheck="false" type="text" name="search" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required form-item__textfield--search" required="required" aria-required="true" placeholder="Search">
  {% include "@atoms/icon/icon.twig" with {
      icon_type: 'regular',
      icon_name: 'search',
  } %}
</div>