.form-item--checkboxes,
.form-item--checkbox__item {
  @include list-reset;

  label {
    display: grid;
    font-family: $font-body;
    font-size: $font-body-size;
    font-weight: 400;
    gap: 0.5rem;
    grid-template-columns: 1rem auto;
    line-height: 1.2;
    margin: 0.5rem 0;

    &:focus {
      input {
        @include focus;
      }
    }
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    background: clr(tone-1);
    border: 2px solid clr(primary-1);
    border-radius: 2px;
    display: grid;
    height: 1.15rem;
    margin: 0;
    place-content: center;
    width: 1.15rem;

    &::before {
      background: #fff;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      content: '';
      height: 0.65rem;
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      width: 0.65rem;
    }

    &:checked {
      background: clr(primary-1);

      &::before {
        transform: scale(1);
      }
    }
  }
}
