{% if not attributes %}

  {% include "@atoms/forms/label/label.twig" with {
    text: 'Options as Checkboxes',
  } %}

  <ul class="form-item--checkboxes">
{% endif %}

{% for key, checkbox in checkboxes %}
  {% include "@atoms/forms/checkbox/_checkbox-item.twig" with {
    checkbox_item: checkbox.title,
    checkbox_item_checked: checkbox.checked,
  } %}
{% endfor %}

{% if not attributes %}
  </ul>
{% endif %}
