{% set link_base_class = 'if-logo-link' %}
{% set link_url = logo_link__url|default('https://www.ifsight.com/') %}
{% set link_attributes = { target: '_black' } %}

{% extends "@atoms/links/link/link.twig" %}
  {% block link_content %}
    {{ 'Powered by Interpersonal Frequency'|t}}
    {% include "@atoms/images/image/responsive-image.twig" with {
      output_image_tag: true,
      image_src: if_logo,
      image_alt: 'IF Logo',
      responsive_image_blockname: 'if_logo',
    } %}
  {% endblock %}
