{% set footer_base_class = 'footer' %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set header_logo_src = directory ? '/' ~ directory ~ '/images/CF_logo_wht.png' : 'CF_logo_wht.png' %}

<footer {{ bem(footer_base_class) }}>
  <div {{ bem('inner', [], footer_base_class, ['flexgrid'] )}}>
      <div {{ bem('branding', [], footer_base_class, ['col-md-12', 'col-l-3','col-xxl-3']) }}>
        {% block footer__branding %}
          {% include "@organisms/site/site-footer/_site-footer-branding.twig" with {
            image_src: (image_url) ? image_url : 'logo-white.png',
          } %}
        {% endblock %}
      </div>

      <div {{ bem('section_one', [], footer_base_class, ['col-md-12', 'col-l-9','col-xxl-9']) }}>
        {% block footer_section_one %}
          {% if section_one_heading %}
            {% include "@atoms/text/headings/_heading.twig" with {
              heading_base_class: 'section_one__header',
              heading_blockname: footer_base_class,
              heading_level: 2,
              heading: section_one_heading,
            } %}
          {% endif %}

          <div {{ bem('section_one__menu', [], footer_base_class, ['flexgrid-nm'] )}}>
            {% for item in section_one_menu %}
              <div class="col-sm-12 col-md-6 col-l-6 col-xxl-4">
                <div {{ bem('item', [], 'section_one__menu') }}>
                  {% include "@atoms/icon/icon.twig" with {
                    icon_type: icon_type|default('regular'),
                    icon_name: item.icon,
                  } %}
                  <div class="text">
                    {% if item.label %}
                      <label>{{ item.label }}</label>
                    {% endif %}
                    {% if item.url %}
                      {% include "@atoms/links/link/link.twig" with {
                          link_content: item.text,
                          link_url: item.url,
                          link_modifier: item.label ? '' : 'label',
                      } %}
                    {% else %}
                      <span>{{ item.text|raw }}</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="col-xxl-4">
              {% include "@molecules/social-links/social-links.twig" %}
            </div>
          </div>
        {% endblock %}
      </div>


      <div {{ bem('section_two', [], footer_base_class, ['col-l-12','col-xxl-7']) }}>
        <p>{{ section_two_copyright }}</p>
        <ul {{ bem('menu', [], 'section_two') }}>
          {% for item in section_two_menu %}
            <li {{ bem('item', [], 'section_two__menu') }}>
              {% include "@atoms/links/link/link.twig" with {
                link_content: item.text,
                link_url: item.url,
              } %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div {{ bem('powered-by', [], footer_base_class, ['col-md-12','col-l-12','col-xxl-5']) }}>
        {% block footer__powered_by %}
          {% include "@organisms/site/site-footer/_site-footer-powered-by.twig" with {
            if_logo: if_logo ?? 'if-logo.svg',
          } %}
        {% endblock %}
      </div>
  </div>
</footer>