.library_horizontal_card {
  border-bottom: 2px solid clr(tone-9-opacity-15);
  margin-bottom: $space-s;

  .card {
    background-color: unset;
    border-bottom: 2px solid clr(primary-6);
    max-width: unset;
    padding-bottom: $space-s;

    @include medium {
      display: grid;
      grid-column-gap: calc($space-triple + $space-one-eighth);
      grid-template-columns: 1fr 3fr;
      padding-bottom: $space-s-desktop;
    }

    .link {
      width: 100%;
    }

    &__content {
      padding: $space 0 0 0;
      border: none;

      @include medium {
        padding-top: 0;
      }
    }
  }

  &--no-image {
    .card {
      display: flex;
      grid-column-gap: 0;

      .link {
        display: none;
      }
    }
  }

  &--border-top {
    border-bottom: none;

    .card {
      padding-bottom: 0;

      @include medium {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $space-s-desktop;
      }

      &__content {
        @include medium {
          border-top: 2px solid clr(tone-9);
          padding-top: $space-s;
        }

        .date {
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
