{% set horizontal_card__base_class = horizontal_card__base_class|default('lib_horizontal_card') %}
{% set horizontal_card__modifiers = [] %}

{% if horizontal_card__image__output_image_tag == false %}
  {% set horizontal_card__modifiers = horizontal_card__modifiers|merge(['no-image']) %}
{% endif %}

{% if border == 'top' %}
  {% set horizontal_card__modifiers = horizontal_card__modifiers|merge(['border-top']) %}
{% endif %}

{% set card = {
    card__image__src: horizontal_card__image__src,
    card__image__alt: horizontal_card__image__alt,
    card__image__output_image_tag: horizontal_card__image__output_image_tag,
    card__heading: horizontal_card__heading,
    card__body: horizontal_card__summary,
    card__date: horizontal_card__date,
    card__tags: horizontal_card__tags,
    card__tags__icon: horizontal_card__tags__icon,
    card__link__url: horizontal_card__link__url,
    card__type: horizontal_card__type,
    card__type__icon: horizontal_card__type_icon,
} %}

<div {{ bem(horizontal_card__base_class, horizontal_card__modifiers, horizontal_card__blockname, horizontal_card__extra_classes) }}>
  {% include "@molecules/card/card.twig" with {
    card
  } %}  
</div>
