{% set image_header__base_class = 'image-page-header' %}
{% set image_header__modifiers = modifiers %}

<div {{ bem(image_header__base_class, image_header__modifiers, '', ['flexgrid']) }}>

  <div {{ bem('content', [], image_header__base_class, ['col-sm-12', 'col-md-12', 'col-l-6', 'col-xxl-6']) }}>
    <div {{ bem('upper-section', [], 'content')}}>
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_base_class: 'title',
        heading_blockname: image_header__base_class,
        heading_level: 1,
        heading: heading,
      } %}

      {% if subheading %}
        <p {{ bem('subheading', [], image_header__base_class) }}>{{ subheading }}</p>
      {% endif %}

      {% if menu_links %}
        <ul {{ bem('menu', [], image_header__base_class) }}>
          {% for item in menu_links.menu_items %}
            <li {{ bem('item', [], 'menu') }}>
              {% include "@atoms/links/link/link.twig" with {
                link_content: item.title,
                link_url: item.url,
                link_modifiers: ['large'],
                link_label: item.title,
              } %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    {% if header_content %}
      <div {{ bem('icon-card', [], 'content') }}>
        {% include "@molecules/icon-card/icon-card.twig" with {
          showCTAArrow: true,
          showDescription: true,
          icon_color: header_content.icon_color,
          icon_card_content: header_content,
        }%}
      </div>
    {% endif %}
  </div>

  {% if not image_src %}
    {% set image_src = hide_image_bio ? 'https://via.placeholder.com/650x425' : 'https://via.placeholder.com/450' %}
  {% endif %}

  {% if not hide_image_bio %}
    <div {{ bem('bio', [], image_header__base_class, ['col-md-12', 'col-l-3','col-xxl-3']) }}>
      {% include "@atoms/images/image/figure.twig" with {
        image_src: image_src,
        image_alt: image_alt,
      } %}
      <div {{ bem('info', [], 'bio') }}>
        <div {{ bem('name', [], 'bio__info') }}>{{ image_bio_name }}</div>
        <div {{ bem('description', [], 'bio__info') }}>{{ image_bio_title }}</div>
      </div>
    </div>
  {% elseif image_src %}
    <div {{ bem('image', [], image_header__base_class, ['col-sm-12', 'col-md-12', 'col-l-6','col-xxl-6']) }}>
      {% include "@atoms/images/image/figure.twig" with {
        image_src: image_src,
        image_alt: image_alt,
      } %}
    </div>
  {% endif %}
</div>
