{% set rich_text__base_class = 'rich-text' %}
{% set rich_text__modifiers = [] %}

{% if hasBgColor and not contained %}
  {% set rich_text__modifiers = rich_text__modifiers|merge(['bg-color']) %}
  {% set flexgrid = 'flexgrid' %}
{% else %}
  {% set rich_text__modifiers = rich_text__modifiers|merge(['no-bg']) %}
  {% set flexgrid = 'flexgrid-nm' %}
{% endif %}

{% if margin %}
  {% set rich_text__modifiers = rich_text__modifiers|merge(['margin-' ~ margin]) %}
{% endif %}

<div {{ bem(rich_text__base_class, rich_text__modifiers, rich_text__blockname)}}>
  <div {{ bem(flexgrid) }}>
    <div {{ bem('body', [], rich_text__base_class) }}>
      {% if body %}
        {{ body }}
      {% else %}
        {% include "@molecules/rich-text/_body-example.twig" %}
      {% endif %}
    </div>
  </div>
</div>
