{#
/**
 * Available variables:
 * - heading_level - the header level 1-6 (produces h1, h2, etc.)
 *
 * - heading_base_class - the base class
 * - heading_modifiers - array of modifiers to add to the base classname
 * - heading_blockname - blockname prepended to the base classname
 *
 * - heading - the content of the heading (typically text)
 *
 * - heading_url - (optional) the url the heading should poing to
 * - heading_link_attributes - key/value attributes to pass to link
 * - heading_link_base_class - override the link base class
 * - heading_link_modifiers - override the link modifiers
 * - heading_link_blockname - override the link block name (defaults to heading_base_class)
 * - heading_level_class - add class to use general style defined in the component. (Example .h1, .h2, .h3...) 
 */
#}
{% set heading_base_class = heading_base_class|default('h' ~ heading_level) %}
{% set heading_level_class = 'h' ~ heading_level %}
{% if dark %}
  {% set heading_modifiers = ['dark'] %}
{% endif %}

{% if heading %}
  <h{{ heading_level }} {{ bem(heading_base_class, heading_modifiers, heading_blockname, [heading_level_class]) }}>
    {% if heading_url %}
      <a {{ bem(heading_link_base_class, heading_link_modifiers) }}
      {% for attribute, value in heading_link_attributes %}
        {{ attribute }}="{{ value }}"
      {% endfor %}
      href="{{ heading_url }}">{{ heading }}</a>
    {% else %}
      {{ heading }}
    {% endif %}
  </h{{ heading_level }}>
{% endif %}