$col-gap: 3.125rem; // Used in @mixin grid-layout

.photo-gallery {
  display: grid;
  gap: $col-gap;

  &__item {
    justify-self: stretch;
    justify-content: center;
    align-items: center;
    display: flex;

    img,
    picture {
      width: 100%;
    }
  }

  @include medium {
    grid-template-columns: repeat(2, 1fr);
  }

  @include large {
    grid-template-columns: repeat(3, 1fr);
  }
}
