{% set photo_gallery__base_class = 'photo-gallery'%}

<div {{ bem(photo_gallery__base_class) }}>
  {% for item in items %}
    <div {{ bem('item', [], photo_gallery__base_class) }}>
      {% include "@atoms/images/image/responsive-image.twig" with {
        image_src: item.url,
        image_alt: item.alt,
    } %}
    </div>
  {% endfor %}
</div>