.icon-stat-card {
  .icon {
    i {
      font-size: 6rem;
    }

    &--tone-9 {
      color: clr('tone-9');
    }

    &--accent-1 {
      color: clr('accent-1');
    }

    &--primary-3 {
      color: clr('primary-3');
    }

    &--warning {
      color: clr('warning');
    }

    &--success {
      color: clr('success');
    }
  }

  .stat {
    font-size: 2.5rem;
    margin: $space 0;
  }

  .description {
    border-top: 2px solid clr('tone-3');
    margin-bottom: 0;
    padding-top: $space;
  }
}
