{% set stat_card__base_class = 'icon-stat-card' %}

<div {{ bem(stat_card__base_class, stat_card__modifiers, stat_card__extra_classes) }}>
  {% if stat_card.icon_name %}
    {% include "@atoms/icon/icon.twig" with {
      icon_type: stat_card.icon_type|default('light'),
      icon_name: stat_card.icon_name,
      icon_modifiers: [icon_color|default(stat_card.icon_color)],
    } %}
  {% endif %}

  {% if stat_card.stat %}
    {% include "@atoms/text/text/01-paragraph.twig" with {
      copy: stat_card.stat,
      paragraph_base_class: 'stat',
    } %}
  {% endif %}

  {% if stat_card.description %}
    {% include "@atoms/text/text/01-paragraph.twig" with {
      copy: stat_card.description,
      paragraph_base_class: 'description',
    } %}
  {% endif %}

</div>
