{% set icon_card__base_class = 'icon-card' %}
{% set icon_card__modifiers = [] %}

{% if showDescription and icon_card_content.description %}
  {% set icon_card__modifiers = icon_card__modifiers|merge(['with-description']) %}
{% endif %}

{% if linked == true %}
  {% set icon_card__modifiers = icon_card__modifiers|merge(['link']) %}
{% endif %}

{% if showCTAArrow %}
  {% set icon_card__modifiers = icon_card__modifiers|merge(['with-cta-arrow']) %}
{% endif %}

{% if linked == true %}
  <a href={{ icon_card_content.url }} {{ bem(icon_card__base_class, icon_card__modifiers, '', icon_card__extra_classes) }}>
{% else %}
  <a href="javascript:void(0)" aria-disabled="true" {{ bem(icon_card__base_class, icon_card__modifiers, '', icon_card__extra_classes) }}>
{% endif %}
  {# ICON #}
  {% include "@atoms/icon/icon.twig" with {
        icon_type: icon_card_content.icon_type|default('regular'),
        icon_name: icon_card_content.icon_name,
        icon_modifiers: [icon_color|default('accent-1')],
        icon_blockname: icon_card__base_class,
    } %}

  <div {{ bem('content', [], icon_card__base_class) }}>
    {# Title #}
    <div {{ bem('title', [], icon_card__base_class) }}>
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 3,
        heading: icon_card_content.link_text,
        heading_modifiers: [text_color],
      } %}
    </div>
    {# Description #}
    {% if showDescription and icon_card_content.description %}
    <div {{ bem('description', [], icon_card__base_class) }}>
      {% include "@atoms/text/text/01-paragraph.twig" with {
        copy: icon_card_content.description,
        paragraph_blockname: icon_card__base_class,
      } %}
      {% if showCTAArrow %}
          <i class="fa-solid fa-arrow-right" role="presentation"></i>
      {% endif %}
     </div>
    {% endif %}
  </div>
</a>
