/* Menu media */
$main-menu-medium: $medium;

/* Nav */
.main-nav {
  display: none;

  @include large {
    display: block;
  }

  .header__top {
    display: none;
  }

  &--open {
    background-color: clr(primary-2);
    bottom: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 5rem;
    width: 100%;

    @include large {
      background-color: clr(tone-1);
      bottom: auto;
      display: block;
      overflow-y: hidden;
      position: relative;
      top: auto;
    }

    .header__top {
      display: flex;

      .top__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 $space calc($space + $space-one-half);
        width: 100%;

        @include large {
          display: none;
        }

        .header__search {
          width: 100%;
        }
      }
    }
  }
}

/* UL */
.main-menu {
  @include list-reset;

  padding: $space-double 0 $space;
  position: relative;
  z-index: 10;

  @include large {
    align-items: baseline;
    border-bottom: none;
    display: flex;
    gap: $space;
    justify-content: flex-end;
    padding: $space-double 0 1.2rem;
  }

  @include xl {
    gap: calc($space + $space-one-half);
    padding: $space-double 0 0.7rem;
  }

  @include xxl {
    gap: $space-double;
  }
}

/*
 * Sub Navigation
 */

/* UL (Nested) */
.main-menu--sub {
  border-bottom: none;
  height: 0;
  overflow: hidden;
  background-color: clr(tone-9-opacity-60);
  width: 100%;

  @include medium {
    background-color: clr(tone-1);
    display: none;
    height: auto;
    left: 0;
    overflow: visible;
    padding: $space 0;
    position: absolute;
    top: 55px;
    width: 315px;
    z-index: 1;
    font-size: 0.9rem;
    opacity: 0.6;
  }

  &:hover {
    @include medium {
      opacity: 1;
      background-color: clr(accent-high);
      transition: all 0.2s;

      .main-menu__link--sub {
        color: clr(accent-1);

        &.active,
        &:active,
        &:hover {
          color: clr(lighter);
          background-color: clr(accent-high);
        }
      }
    }
  }

  /* See main-menu.js */
  &-open {
    height: auto;
  }
}

.main-menu--sub-2 {
  @include medium {
    display: none; /* Never shown on large screens */
  }
}
