{{ attach_library('if_design_system/main-menu') }}

<nav >
  <a href="#" id="toggle-expand" class="toggle-expand">
    <span class="toggle-expand__open">
      {% include "@atoms/icon/icon.twig" with {
        icon_type: 'regular',
        icon_name: 'bars',
      } %}
      <span class="toggle-expand__text">{{ 'MENU'|t }}</span>
    </span>
    <span class="toggle-expand__close">
      {% include "@atoms/icon/icon.twig" with {
        icon_type: 'regular',
        icon_name: 'xmark-large',
      } %}
      <span class="toggle-expand__text">{{ 'MENU'|t }}</span>
    </span>
  </a>
  <div id="main-nav" class="main-nav">
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: "main-menu",
      items: menu_items,
    } %}
    {% include "@organisms/site/site-header/_site-header-top.twig" with { header__base_class: 'header' }%}
  </div>  
</nav>
