{% embed "@organisms/site/site-footer/site-footer.twig" with {
    section_one_heading: content.variables.section_one_title,
    section_one_menu: content.variables.section_one_menu,
    social_menu_items: content.variables.section_one_social_media,
    section_two_copyright: content.variables.footer_copyright_text,
    section_two_menu: content.variables.section_two_menu,
    image_url: content.variables.footer_logo.image_url,
    if_logo: '/themes/custom/if_design_system/images/if-logo.svg',
} %}
{% endembed %}
