{% set page_header__base_class = 'page-header' %}

<div {{ bem(page_header__base_class) }}>
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_base_class: 'title',
    heading_blockname: page_header__base_class,
    heading_level: 1,
    heading: heading,
  } %}
  {% if not hide_date and date %}
    <div {{ bem('date', [], page_header__base_class) }}>{{ date }}</div>
  {% endif %}
</div>
