{% extends "@molecules/section/section.twig" %}
  {% set heading = 'Related News' %}
  {% set showTitle = true %}
  {% set button_value = 'All news' %}
  {% set button_link = '#' %}
  
  {% block section_content %}
    {% include "@organisms/card-group/card-group.twig" with {
          columns: 2,
          cards: sectionNews.card_items,
    } %}
  {% endblock %}