{% extends "@molecules/section/section.twig" %}
  {% set heading = 'Related Events' %}
  {% set showTitle = true %}
  {% set button_value = 'All events' %}
  {% set button_link = '#' %}
  
  {% block section_content %}
    {% include "@organisms/event-card-group/event-card-group.twig" with {
          columns: 2,
          event_cards: sectionEvents.event_card_items,
          border: 'top'
    } %}
  {% endblock %}