{% embed "@templates/with-sidebar.twig" %}
  {% block page_system %}
    {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" with {
        breadcrumb: breadcrumbs.breadcrumb,
    }%}
  {% endblock %}

  {% block page_sidebar %}
    {% include "@molecules/menus/sidebar-menu/sidebar-menu.twig" with {
        items: sidebarNavMenu,
        is_expanded: true,
    }%}
  {% endblock %}

  {% block page_content %}
    {% include "@molecules/page-headers/page-header/page-header.twig" with {
      heading: 'Basic Page Heading',
    } %}

    <div class="paragraph-content">
      {% include "@molecules/rich-text/rich-text.twig" with {
        heading: 'Rich Text paragraph heading',
        body: '<p>Curabitur non <strong>nulla sit amet nisl</strong> tempus convallis quis ac lectus. <em>Praesent sapien massa</em>, convallis a pellentesque nec, egestas non nisi. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada feugiat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p><p><a class="button button--primary" href="#">Economic Indicators and Statistics</a></p><table><caption>Caption table</caption><thead><tr><th>Heading 1</th><th>heading 2</th></tr></thead><tbody><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr><tr><td>content</td><td>content</td></tr></tbody></table>'
      }%}
      
      {% include "@molecules/photo-gallery/photo-gallery.twig" with {
        items: photoGallery.gallery_items,
      }%}
    </div>
    
    <div class="paragraph-content">
      {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 2,
          heading: 'Featured Services'
      } %}

      {% include "@organisms/icon-card-group/icon-card-group.twig" with {
        icon_cards: iconCardGroup.items,
        columns: 2,
      }%}
    </div>

    <div class="paragraph-content">
      {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 2,
          heading: 'Video'
      } %}
      {% include "@atoms/video/video.twig" with {
        video_content: '<iframe width="560" height="315" src="https://www.youtube.com/embed/wW0JMakjpCA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'
      }%}
    </div>

    <div class="paragraph-content">
      {% include "@atoms/text/headings/_heading.twig" with {
          heading_level: 2,
          heading: 'Process steps'
      } %}

      {% include "@molecules/process-step/process-step.twig" with {
        steps: steps.process_steps,
      }%}
    </div>
    
    <div class="paragraph-content">
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 2,
        heading: 'County Plan Goals'
      } %}

      {% include "@molecules/accordions/accordions.twig" with {
        accordion_items: accordionItems.accordion_items,
      }%}
    </div>

    <div class="paragraph-content">
      {% include "./_section-news.twig" %}
    </div>

    <div class="paragraph-content">
      {% include "./_section-events.twig" %}
    </div>

  {% endblock %}
{% endembed %}
