{% if not attributes %}
<fieldset class="form-item form-item--radio">

  {% include "@atoms/forms/label/label.twig" with {
    text: 'By Type',
  } %}

  <ul class="form-item--radios">
    {% endif %}
      {% for key, radio in radios %}
        {% include "@atoms/forms/radio/_radio-item.twig" with {
          radio_item: radio.title,
          radio_item_checked: radio.checked
      } %}
    {% endfor %}

    {% if not attributes %}
  </ul>
</fieldset>
{% endif %}
