.social-links {
  @include list-reset;

  display: flex;
  gap: $space;

  &__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    color: clr(tone-1);

    .icon {
      font-size: 1.375rem;
      color: clr(primary-1);
    }

    &:hover {
      color: clr(primary-3);

      .icon {
        color: clr(primary-3);
      }
    }
  }

  &__text {
    font-weight: 600;
  }

  &--big {
    @include medium {
      gap: 1.5rem;
    }

    .social-links__link {
      .icon {
        font-size: 2.1875rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include medium {
          font-size: 2.8125rem;
          width: 3.75rem;
          height: 3.75rem;
        }
      }

      &:hover {
        .icon {
          background-color: clr(primary-1);
          color: clr(tone-1);
        }
      }
    }
  }
}
