{% set link_url = item.url %}
{% set link_base_class = 'link' %}
{% set link_modifiers = item_modifiers %}
{% set link_blockname = block_class %}
{% set link_attributes = {target: '_blank'} %}

{% extends "@atoms/links/link/link.twig" %}
  {% block link_content %}
    {% include "@atoms/icon/icon.twig" with {
      icon_type: 'brands',
      icon_name: item.icon,
    } %}
    <span {{ bem('text', [], block_class, ['visually-hidden']) }}>{{ item.title }}</span>
  {% endblock %}
