{# Set classes #}
{% set block_class = 'social-links' %}
{% set ul_base_class = block_class %}
{% set ul_modifiers = modifiers %}

{# List #}
{% embed "@atoms/lists/ul.twig" %}
  {% block list_content %}
    {% for item in social_menu_items %}

      {% embed "@atoms/lists/_list-item.twig" %}
        {% set li_base_class = 'item' %}
        {% set li_modifiers = item_modifiers %}
        {% set li_blockname = block_class %}

        {% block list_item_content %}
          {% include "@molecules/social-links/_social-link.twig" %}
        {% endblock %}
      {% endembed %}

    {% endfor %}
  {% endblock %}
{% endembed %}