.button_group {
  margin: 0 0 calc($space-l - $space);

  @include large {
    margin: 0 -1.5625rem calc($space-l-desktop - $space);
  }

  &.flexgrid {
    flex-direction: row;

    a {
      max-width: 31.25rem;
    }
  }

  .button-item {
    margin-bottom: $space-m;
  }

  .card_columns {
    .button {
      width: 100%;
    }
  }
}
