.button_group {
  @include large {
    @include nested-flexgrid;
  }

  @mixin grid-item {
    flex: 1 1 100%;
    margin-bottom: $space-double;

    @include large {
      margin: 0 $space-double 0 0;
      flex-basis: 30%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .grid__item {
    @include grid-item;

    /* This is just for the component library example */
    &--example {
      background-color: clr(highlight-high);
      padding: $space-quadruple;
    }
  }
}
