{# Since the card and cta components aren't required, we can't expect them to be here by default #}
{% set button_group__base_class = "button_group" %}
{% set button_group__extra_classes = ['flexgrid-nm'] %}

{% if columns == 2 %}
  {% set card_cols = ['col-md-12', 'col-l-6','col-xxl-6'] %}
{% elseif columns == 3 %}
  {% set card_cols = ['col-md-12', 'col-l-6','col-xxl-4'] %}
{% elseif columns == 4 %}
  {% set card_cols = ['col-md-12', 'col-l-6','col-xxl-3'] %}
{% endif %}

<div {{ bem(button_group__base_class, button_group__modifiers, button_group__blockname, button_group__extra_classes) }}>
  {% for item in buttons %}
    <div {{ bem('card_columns', [], '', card_cols) }}>
      {% include "@atoms/buttons/button.twig" with {
        button_content: item.content,
        button_url: item.url,
        icon_card__extra_classes: card_cols,
      } %}
    </div>
  {% endfor %}
</div>
