{% set event_cardgroup_base_class = 'event-card-group' %}

{% if columns == 2 %}
  {% set card_cols = ['col-l-12', 'col-xl-6', 'col-xxl-6'] %}
{% elseif columns == 3 %}
  {% set card_cols = ['col-l-12', 'col-xl-4', 'col-xxl-4'] %}
{% endif %}

<div {{ bem(event_cardgroup_base_class, event_cardgroup_modifiers, event_cardgroup_block_name, ['flexgrid-nm']) }} >
  {% if event_cards %}
    {% for item in event_cards %}
      <div {{ bem('card_columns', [], '', card_cols) }} >
        {% if item.content is defined %}
          {{ item.content }}
        {% else %}
          {% include '@molecules/event-card/event-card.twig' with {
            event: item,
            image_src: image__src,
            image_alt: image__alt,
            no__image: false,
          } %}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
</div>
