.call-out-box {
  background-color: clr(primary-4);
  border-top: 2px solid clr(primary-3);
  overflow-wrap: break-word;
  margin-bottom: $space-l;
  padding: $space-s 1.5rem;

  @include medium {
    margin-bottom: $space-l-desktop;
    padding: 1.375rem 1.5625rem;
  }

  a {
    @include link;

    &:hover {
      background-color: unset;
    }

    &.ext {
      position: relative;
      margin-right: 1rem;

      span.button {
        padding-right: 2.5rem;
      }

      .button + svg.ext {
        position: absolute;
        fill: clr(tone-1);
        right: 0.5rem;
        top: -2px;

        path {
          stroke: clr(tone-1);
        }
      }

      .button--secondary + svg.ext {
        fill: clr(primary-2);

        path {
          stroke: clr(primary-2);
        }
      }

      &:hover {
        .button--secondary + svg.ext {
          fill: clr(tone-1);

          path {
            stroke: clr(tone-1);
          }
        }
      }
    }
  }

  > {
    *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .text-long {
    width: 100%;

    .three-col {
      @include small {
        .col-first {
          padding-left: 0;
        }

        .col-third {
          padding-right: 0;
        }
      }
    }
  }
}
