{% set call_out_box__base_class = 'call-out-box' %}

{# Content #}
<div {{bem(call_out_box__base_class, call_out_box__modifiers, call_out_box__blockname, call_out_box__extra_classes) }}>
  {{ html_content }}
</div>
