{% set card_listing__base_class = 'card-listing' %}

{# Header #}
<div {{ bem('card-listing-header') }} >
  {% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: component_heading,
  } %}
  {% include "@atoms/buttons/button.twig" with {
    button_content: all_link__text,
    button_url: all_link__url,
    button_modifiers: ['secondary'],
  } %}
</div>
{# Content #}
<div {{ bem(card_listing__base_class, card_listing__modifiers, card_listing__blockname, card_listing__extra_classes) }} >
  {% include "@molecules/card/card.twig" with {
    card: card_listing,
  } %}
</div>
