{% set book_base_class = book_base_class|default('book') %}

<div {{ bem(book_base_class, book_modifiers, book_blockname) }}>

  {% if image_src %}
    {% set link_url = url %}
    {% embed "@atoms/links/link/link.twig" %}
      {% block link_content %}
        {% if image_src %}
          {% include "@atoms/images/image/responsive-image.twig" with {
            image_blockname: book_base_class,
            output_image_tag: true,
            image_src: image_src,
            image_alt: image_alt,
          } %}
        {% endif %}
      {% endblock %}
    {% endembed %}
  {% endif %}

  {% if title %}
    {% include "@atoms/text/headings/_heading.twig" with {
      heading: title,
      heading_level: 3,
      heading_url: url,
      heading_link_base_class: 'heading-link',
    } %}
  {% endif %}

  {% if author %}
    {% include "@atoms/text/text/01-paragraph.twig" with {
      copy: author,
      paragraph_base_class: ['book-author'],
    } %}
  {% endif %}

</div>
