{% set stat_card_group__base_class = "stat-card-group" %}
{% set stat_card_group__extra_classes = ['flexgrid-nm'] %}

{% if columns == 2 %}
  {% set card_cols = ['col-md-12', 'col-l-6','col-xxl-6'] %}
{% elseif columns == 3 %}
  {% set card_cols = ['col-md-12', 'col-xl-6','col-xxl-4'] %}
{% elseif columns == 4 %}
  {% set card_cols = ['col-md-12', 'col-xl-6','col-xxl-3'] %}
{% endif %}

{% extends '@molecules/section/section.twig' %}
  {% set bg_color = 'primary-4' %}
  {% set showTitle = true %}
  {% set heading = section_title %}

  {% block section_content %}
    <div {{ bem(stat_card_group__base_class, stat_card_group__modifiers, stat_card_group__blockname, stat_card_group__extra_classes) }}>
      {% for item in stat_card_group %}
        <div {{ bem('card_columns', [], '', card_cols) }} >
          {% include "@molecules/stat-card/stat-card.twig" with {
            stat_card: item,
          } %}
        </div>
      {% endfor %}
    </div>
  {% endblock %}
