<div {{ bem('top', [], header__base_class) }}>
    <div {{ bem('inner', '', 'top', ['flexgrid']) }}>
      <div {{ bem('translate', [], header__base_class) }}>
        {% block header__translate %}
          {% include "@organisms/site/site-header/_site-header-translate.twig" %}
        {% endblock %}
      </div>
      <div {{ bem('search', [], header__base_class) }}>
          {% block header__search %}
            {% include "@atoms/forms/searchinput/searchinput.twig" %}
          {% endblock %}
      </div>
    </div>  
  </div>