{% set header__base_class = 'header' %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set header__logo_src = directory ? '/' ~ directory ~ '/images/CF_Main_Color_logo_3x.png' : 'CF_Main_Color_logo_3x.png' %}

<header {{ bem(header__base_class) }}>
  {% block header__top %}
    {% include "@organisms/site/site-header/_site-header-top.twig" %}
  {% endblock %}

  <div {{ bem('inner', [], header__base_class, ['flexgrid']) }}>
    <div {{ bem('primary', [], header__base_class) }}>
      <div {{ bem('branding', [], header__base_class) }}>
        {% block header__branding %}
          {% include "@organisms/site/site-header/_site-header-branding.twig" %}
        {% endblock %}
      </div>
      <div {{ bem('menu', [], header__base_class) }}>
        {% block header__menu %}
          {% include "@molecules/menus/main-menu/main-menu.twig" %}
        {% endblock %}
      </div>
    </div>
    {# <div {{ bem('secondary', [], header__base_class) }}>
      {% block header__breadcrumbs %}
        {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" %}
      {% endblock %}
    </div> #}
  </div>
</header>
