{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% include "@atoms/forms/label/label.twig" with {
  text: 'Date Label',
} %}

<div class="date">
<input type="date" data-placeholder="mm/dd/yy">
<i class="fa-solid fa-calendar-days"></i>
</div>
