{% set full_width = true %}
{% set layout_extra_classes = ['department'] %}

{% embed '@templates/_default.twig' %}
  {% block page_system %}
    {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" with {
        breadcrumb: breadcrumbs.breadcrumb,
    }%}

    {% if headerA %}
      {% include '@molecules/page-headers/image-header/image-header.twig' with {
          heading: headerA.heading,
          subheading: headerA.subheading,
          image_alt: headerA.image_alt,
          image_bio_name: headerA.image_bio_name,
          image_bio_title: headerA.image_bio_title,
          hide_image_bio: headerA.hide_image_bio,
          menu_links: headerA,
      } %}
    {% else %}
      {% include '@molecules/page-headers/image-header/image-header.twig' with {
          heading: headerB.heading,
          subheading: headerB.subheading,
          image_alt: headerB.image_alt,
          image_bio_name: headerB.image_bio_name,
          image_bio_title: headerB.image_bio_title,
          hide_image_bio: headerB.hide_image_bio,
          menu_links: headerB,
      } %}
    {% endif %}
  {% endblock %}

  {% block page_content %}
    <div {{ bem('department') }}>
    
    {# Featured Services / Icon section #}
    {% embed '@molecules/section/section.twig' %}
      {% set heading = 'Featured Services' %}
      {% set showTitle = true %}
      {% set bg_color = 'primary-4' %}

      {% if iconCardGroupA %}
        {% set card_group = iconCardGroupA.items %}
      {% else %}
        {% set card_group = iconCardGroupB.items %}
      {% endif %}
      
      {% block section_content %}
        {% include "@organisms/icon-card-group/icon-card-group.twig" with {
          icon_cards: card_group,
          columns: 3,
        }%}
      {% endblock %}
    {% endembed %}

    {# Featured Services / Icon section #}
    {% embed '@molecules/section/section.twig' %}
      {% set showTitle = false %}

      {% block section_content %}
        {% set combo_listing__base_class = 'combo-listing'%}

        <div {{ bem(combo_listing__base_class, combo_listing__modifiers, combo_listing__blockname, ['flexgrid'])}}>
          <div {{ bem('card', [], combo_listing__base_class, ['col-xxl-6', 'col-l-12'])}}>
            {% include '@organisms/card-listing/card-listing.twig' with {
                component_heading: 'Related News',
                all_link__url: '#',
                all_link__text: 'All News',
                card_listing: cardListingData,
              } %}
          </div>
          <div {{ bem('card', [], combo_listing__base_class, ['col-xxl-6', 'col-l-12'])}}>
            {% include '@organisms/event-listing/event-listing.twig' with {
                component_heading: 'Featured Events',
                all_link__url: '#',
                all_link__text: 'All Events',
                event_listing: eventsData.events,
              } %}
          </div>  
        </div>
      {% endblock %}
    {% endembed %}

    {# Location #}
    {% embed '@molecules/section/section.twig' %}
      {% set showTitle = false %}
      {% set padding = 'none' %}

      {% block section_content %}
          {% include '@molecules/location-map/location-map.twig' with {
              heading: 'H3 Department Title',
              phone: '(000) 000 0000',
              email: 'name.lastname@county.org',
              addresses: addresses.addresses_items,
              show_social: true,
              social_menu_items: socialMenu.social_menu_items,
              mail_address: {
                street_address: 'P.O Box 20,000',
                city: 'Grand Junction',
                state: 'CO',
                zip_code: '81502-5001',
              }
          } %}
      {% endblock %}
    {% endembed %}
    

  {% endblock %}
{% endembed %}
