.alerts {
  display: flex;
  padding: $space-s 0;
  background-color: clr(accent-1);
  color: clr(tone-1);

  .alerts__body,
  a,
  .h4 {
    color: clr(tone-1);
  }

  .ext {
    color: clr(tone-1);

    svg {
      fill: clr(tone-1);
      padding-left: 0.2rem;
      height: 15px;
      width: 22px;

      path {
        stroke: clr(tone-1);
      }
    }
  }

  &--informational {
    background-color: clr(primary-3);
    color: clr(tone-9);

    .ext {
      color: clr(tone-9);

      svg {
        fill: clr(tone-9);
        padding-left: 0.2rem;
        height: 15px;
        width: 22px;

        path {
          stroke: clr(tone-9);
        }
      }
    }

    .alerts__body,
    a,
    .h4 {
      color: clr(tone-9);
    }
  }

  &--non-emergency {
    background-color: clr(primary-1);

    .ext {
      color: clr(tone-1);

      svg {
        fill: clr(tone-1);
        padding-left: 0.2rem;
        height: 15px;
        width: 22px;

        path {
          stroke: clr(tone-1);
        }
      }
    }

    .alerts__body,
    a,
    .h4 {
      color: clr(tone-1);
    }
  }

  &.hidden {
    display: none;
  }

  .icon {
    font-size: 1.75rem;
    margin-right: calc($space + $space-one-fourth);
  }

  &__content {
    display: block;
    flex-wrap: wrap;

    @include medium {
      display: flex;
      flex-wrap: nowrap;
    }

    .h4 {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }

    .alerts__body {
      *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .close {
    cursor: pointer;
    font-size: 1.75rem;
    margin: 0 0 0 calc($space + $space-one-fourth);
    margin-left: auto;
  }

  a,
  .close {
    &:hover {
      opacity: 0.65;
    }
  }
}

// Fix mobile layout while logged in
.admin-toolbar-mediteran {
  #block-sitealerts {
    margin-top: 5rem;

    @include large {
      margin-top: 0;
    }
  }
}
