{% set alerts__base_class = 'alerts' %}

{% if alert_level == 'Informational' %}
  {% set alerts__modifiers = ['informational'] %}
{% elseif alert_level == 'Non-Emergency' %}
  {% set alerts__modifiers = ['non-emergency'] %}
{% elseif alert_level == 'Severe' %}
  {% set alerts__modifiers = ['severe'] %}
{% endif %}

{# Content #}
<div {{ bem(alerts__base_class, alerts__modifiers, alerts__block_name, alerts__extra_classes) }}>
  <div {{ bem('content', [], alerts__base_class, ['flexgrid']) }}>
    {% include "@atoms/icon/icon.twig" with {
      icon_name: icon,
      icon_type: 'light',
    } %}
    <div {{ bem('body', [], alerts__base_class) }}>
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 4,
        heading: title,
      } %}
      {{ body }}
    </div>
    {% if dismissible == 1 %}
      {% include "@atoms/icon/icon.twig" with {
        icon_name: 'xmark',
        icon_type: 'light',
        icon_base_class: 'close',
      } %}
    {% endif %}
  </div>
</div>
