.search-header {
  background-color: clr(primary-4);
  padding: $space-s 0;
  margin-bottom: $space-s;

  @include large {
    padding: $space-l 0;
    margin-bottom: $space-l;
  }

  &__title {
    @include large {
      margin-bottom: 0;
    }
  }

  &__input {
    align-items: center;
    display: flex;
    padding-right: 0;

    @include large {
      margin-bottom: 0;
    }

    form {
      display: flex;
      width: 100%;

      .form-item {
        max-width: 100%;
        width: 100%;
        margin-bottom: 0;

        input {
          width: 100%;
          border-color: clr(tone-9);
        }
      }

      .form-submit {
        @include button-base;
        @include button-color-primary;

        height: 2.5rem;
        margin-left: 0.5rem;
      }
    }
  }

  .h1 {
    margin-bottom: 0;
  }
}
