{% set page_header__base_class = 'search-header' %}

<div {{ bem(page_header__base_class) }}>
  <div class="flexgrid">
    <div {{ bem('title', [], page_header__base_class, ['col-xxl-3 col-l-12'] ) }}>
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 1,
        heading: 'Search',
      } %}
    </div>
    <div {{ bem('input', [], page_header__base_class, ['col-xxl-9 col-l-12'] ) }}>
      {% if form is defined %}
        {{ form }}
      {% else %}
        <form action="/search" method="get" id="views-exposed-form-search-search" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-keys">

          <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-keys form-item-keys">
            <input title="Search keywords" data-drupal-selector="edit-keys" type="text" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-text form-item__textfield" tabindex="-1">
          </div>

          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--2">
            <input data-drupal-selector="edit-submit-search-2" type="submit" id="edit-submit-search--2" value="Apply" class="button js-form-submit form-submit form-item__textfield" tabindex="-1">
          </div>

        </form>
      {% endif %}
    </div>
  </div>
</div>
