{% set image_base_class = image_base_class|default('image') %}

<img
  {{ bem(image_base_class, image_modifiers, image_blockname) }}
  {% if image_srcset %}
    srcset="{{ image_srcset }}"
  {% endif %}
  {% if image_sizes %}
    sizes="{{ image_sizes }}"
  {% endif %}
  src="{{ image_src }}"
  {% if image_alt %}
    alt="{{ image_alt }}"
  {% else %}
    aria-hidden="true"
  {% endif %}
  {% if image_title %}
    title="{{ image_title }}"
  {% endif %}
/>
