{#
/**
 * Available variables:
 * - paragraph_base_class - the base classname
 * - paragraph_modifiers - array of modifiers to add to the base classname
 * - paragraph_blockname - blockname prepended to the base classname
 * - copy - the content of the paragraph (typically text)
 *
 * Available blocks:
 * - copy - used to replace the content of the paragraph with something other than plain text
 *   for example: A formatted text field in Drupal
 */
#}
{% set paragraph_base_class = paragraph_base_class|default('paragraph') %}
{% if dark %}
    {% set paragraph_modifiers = ['dark'] %}
{% endif %}

<p {{ bem(paragraph_base_class, paragraph_modifiers, paragraph_blockname) }}>
    {{ copy }}
</p>
