{% set how_do_i__base_class = 'how-do-i' %}

{# Content #}
<div {{ bem('how-do-i', how_do_i__base_class, how_do_i__modifiers, how_do_i__blockname, how_do_i__extra_classes) }}>
  {# Tabs #}
  {% if tabs %}
    <div class="tabs">
      {% for item in tabs %}
        <div {{ bem('item', [], how_do_i__base_class, ['tab', 'tab-' ~ loop.index]) }}>
          <a href="{{ item.link }}" class="tab-link" aria-label="{{ item.label }}">
            {% include "@atoms/icon/icon.twig" with {
              icon_name: item.icon,
              icon_type: 'light',
            } %}
            {{ item.label }}
          </a>
        </div>
      {% endfor %}
    </div>
    {% for item in tabs %}
      {# Menu #}
      <div {{ bem('menu', [], how_do_i__blockname, ['menu', 'menu-tab-' ~ loop.index]) }}>
        {% for child in item.children %}
          {% embed '@atoms/links/link/link.twig' %}
            {% set link_url = child.link %}
            {% set link_label = child.label %}
            {% block link_content %}{{ child.label }}{% endblock %}
          {% endembed %}
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
</div>
