{% set cardgroup_base_class = cardgroup_base_class|default('card-group') %}
{% set cardgroup_modifiers = '' %}
{% set cardgroup_block_name = '' %}

{% if columns == 2 %}
  {% set card_cols = ['col-l-12', 'col-xl-6', 'col-xxl-6'] %}
{% elseif columns == 3 %}
  {% set card_cols = ['col-l-12', 'col-xl-4', 'col-xxl-4'] %}
{% elseif columns == 4 %}
  {% set card_cols = ['col-sm-12', 'col-md-6', 'col-l-6', 'col-xl-3', 'col-xxl-3'] %}
{% endif %}

{% if with_background %}
  {% set card__modifiers = ['with-background'] %}
{% endif %}

<div {{ bem(cardgroup_base_class, cardgroup_modifiers, cardgroup_block_name, ['flexgrid-nm']) }} >
  {% for item in group %}
    <div {{ bem('card', card__modifiers, "", card_cols) }} >
      {% if item.content is defined %}
        {{ item.content }}
      {% elseif item['#node'] == true %}
        {{ item }}
      {% else %}
        {% include "@molecules/card/card.twig" with {
          card: item,
        } %}
      {% endif %}
    </div>
  {% endfor %}
</div>
