{% set icon_base_class = icon_base_class|default('icon') %}

{% set additional_attributes = {
  class: bem(icon_base_class, icon_modifiers, icon_blockname),
} %}

<span {{ add_attributes(additional_attributes) }}>
  <i class="fa-{{ icon_type|default('regular') }} fa-{{ icon_name }}" role="presentation"></i>
</span>
