{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% extends "@organisms/site/site-header/site-header.twig" %}

{% block header__top %}
  {% embed '@organisms/site/site-header/_site-header-top.twig' %}
    {# Uncomment the codeblock below for enabling if_swiftype. #}
    {#
    {% block header__search %}
      {{ drupal_block('swiftype_autocomplete') }}
    {% endblock %}
    #}
  {% endembed %}
{% endblock %}

{% block header__menu %}
  {{ content }}
{% endblock %}
