.horizontal_card {
  @include medium {
    border-bottom: 2px solid clr(tone-9-opacity-15);
    display: grid;
    grid-column-gap: calc($space-triple + $space-one-eighth);
    grid-template-columns: 1fr 3fr;
    padding-bottom: $space-s-desktop;
    margin-bottom: $space-s-desktop;
  }

  .card {
    background-color: unset;

    .link {
      width: 100%;
    }

    .card__content {
      border: 0;
      padding: $space 0 0 0;

      @include medium {
        padding-top: 0;
      }
    }
  }

  &--no-image {
    .card {
      display: flex;
      grid-column-gap: 0;

      .link {
        display: none;
      }
    }
  }
}
