{% set horizontal_card__base_class = horizontal_card__base_class|default('horizontal_card') %}

{% if horizontal_card.card__image__src is empty %}
  {% set horizontal_card__modifiers = ['no-image'] %}
{% endif %}

<div {{ bem(horizontal_card__base_class, horizontal_card__modifiers, horizontal_card__blockname, horizontal_card__extra_classes) }}>
  {# Image #}
  {% if horizontal_card.card__image__src %}
    {% embed "@atoms/links/link/link.twig" %}
    {% set link_url = horizontal_card.card__link__url %}
    {% set link_hidden = true %}
      {% block link_content %}
        {% include "@atoms/images/image/responsive-image.twig" with {
          image_blockname: horizontal_card__base_class,
          output_image_tag: true,
          image_src: horizontal_card.card__image__src,
          image_alt: horizontal_card.card__image__alt,
        } %}
      {% endblock %}
    {% endembed %}
  {% endif %}
  {% include "@molecules/card/card.twig" with {
    card: horizontal_card,
    card__image__output_image_tag: false,
  } %}
</div>
