{% extends '@molecules/section/section.twig' %}
{% set padding = 'none' %}

  {% block section_content %}
    {% include '@molecules/location-map/location-map.twig' with {
      addresses: locationData.addresses_items,
      show_social: false,
    } %}
  {% endblock %}
