{% embed '@templates/_default.twig' %}
{% set is_virtual = false %}

  {% block page_system %}
    {% include "@molecules/menus/breadcrumbs/breadcrumbs.twig" with {
      breadcrumb: breadcrumbs.breadcrumb,
    }%}

  {% endblock %}
  {% block page_content %}
    {% include '@molecules/page-headers/page-header/page-header.twig' with {
      heading: 'Logic and Accuracy Testing (LAT) of the 2022 Mesa County Primary Election',
    } %}
  <div {{ bem('event-detail') }}>
    <div {{ bem('content', [], 'event-detail', ['flexgrid-nm']) }}>
      <div {{ bem ('col-xxl-7 col-xl-7 col-l-12') }}>
        {% include '@molecules/rich-text/rich-text.twig' with {
          heading: 'Rich Text paragraph heading',
          body: '<p>County residents are invited to attent the Logic and Accuracy Testing (LAT) of the 2022 Mesa County Primary Election at noon on June 1 at the Mesa County Elections Office, 200 S. Spruce St.</p><p>The programming of the election will be tested to ensure accurate tabulation by the electronic voting equipment for the June 28, 2022 Mesa County Primary Election.</p><p>If you wish to obtain information about the LAT, email the Mesa County Elections Office at <a href="#">voter.info@mesacounty.us</a> or call (970) 244-1662.</p>',
        } %}
      </div>
      <div {{ bem('event-detail-card col-xxl-4 col-xl-4 col-l-12') }}>
        {% include '@molecules/event-card/event-card.twig' with {
          event: eventCardData,
          image_src: image__src,
          image_alt: image__alt,
          no__image: false,
        } %}
      </div>
    </div> 
    {% if not is_virtual %}
      <div {{ bem('location', [], 'event-detail') }}>
        {% include './_section-location.twig' %}
      </div>  
    {% endif %}
    </div>
  {% endblock %}
{% endembed %}
