{% set filter_id =  heading|clean_class %}
{% set sidebar_filters__base_class = 'sidebar-filters' %}

<div {{ bem(sidebar_filters__base_class, sidebar_filters__modifiers, sidebar_filters__blockname, sidebar_filters__extra_class) }} >
  <div {{ bem('accordion-group') }}>
    <div {{ bem('accordion-item') }}>
      <button  aria-controls='filters' id='{{filter_id}}' {{ bem('accordion-title') }}>
        {{ heading }}
      </button>
    </div>
    <div {{ bem('accordion-text') }} id='filters' role='region' aria-labelledby={{filter_id}} >
      {% if form is defined %}
        {{ form }}
      {% else %}
        {% block form_content %}
          {% include "@molecules/sidebar-filters/_sidebar-filters-form.twig" %}
        {% endblock %}
        {% include "@atoms/buttons/button.twig" with {
          button_content: button_value,
        } %}
      {% endif %}
    </div>
  </div>
</div>
