{% set hero_icon_links__base_class = 'hero-icon-links' %}

{% set additional_attributes = {
    class: bem(hero_icon_links__base_class, hero_icon_links_modifiers, hero_icon_links_blockname, ['col-xl-12', 'col-xxl-8']),
    style: 'background-image:url(' ~ image ~ ')',
} %}

<div {{ bem('hero-container', [], '', ['flexgrid-nm']) }}>
  <div {{ add_attributes(additional_attributes) }}></div>
  <div {{ bem('header-icon-links', [], '', ['col-xl-12', 'col-xxl-4']) }}>
    {% if icon_links %}
      {% for item in icon_links %}
        {% include "@molecules/icon-card/icon-card.twig" with {
          icon_card_content: item,
          icon_color: 'primary-1',
          showDescription: true,
          showCTAArrow: true,
        } %}
      {% endfor %}
    {% endif %}
  </div>
</div>
