{% if not attributes %}
<div class="form-item">
  {% include "@atoms/forms/label/label.twig" with {
    text: 'Select Dropdown',
    forAttribute: 'select'
  } %}
  <div class="form-item__dropdown">
    <select class="form-item__select" id="select">
      <optgroup label="Whatever">
{% endif %}
        {% for selection in select %}
          {% include "@atoms/forms/select/_select-item.twig" with {
            select_item: selection.title
          } %}
        {% endfor %}
{% if not attributes %}
      </optgroup>
    </select>
  </div>
</div>
{% endif %}
