{% set layout_modifiers = ['padding-top'] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}
{% set main_extra_classes = ['flexgrid'] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}
{% set main_content_extra_classes = ['col-xxl-12'] %}

{% if sidebar %}
  {% set main_modifiers = main_modifiers|merge(['with-sidebar']) %}
  {% set main_content_modifiers = main_content_modifiers|merge(['with-sidebar']) %}
  {% set main_content_extra_classes = ['col-xxl-9', 'col-l-12'] %}
{% endif %}

{% if full_width %}
  {% set main_modifiers = main_modifiers|merge(['full-width']) %}
  {% set main_extra_classes = [] %}
{% endif %}

<div {{ bem('layout', layout_modifiers, layout_blockname, layout_extra_classes) }}>
  {% block page_header %}
    {% include "@organisms/site/site-header/site-header.twig" %}
  {% endblock %}
  {% block page_system %}
  {% endblock %}
    <div {{ bem(main_base_class, main_modifiers, main_blockname, main_extra_classes) }}>

    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <main role="main" {{ bem(main_content_base_class, main_content_modifiers, main_content_blockname, main_content_extra_classes) }}>
      {% block page_content %}
        {% include '@templates/placeholder/place-holder.twig' with {
          'place_holder': 'Primary Content',
        } %}
      {% endblock %}
    </main>
    {% if sidebar %}
      <aside class="main-sidebar col-xxl-3 col-l-12" role="complementary">
        {% block page_sidebar %}{% endblock %}
      </aside>
    {% endif %}
  </div>
  {% block page_footer %}
    {% include "@organisms/site/site-footer/site-footer.twig" %}
  {% endblock %}
</div>
