{% set full_width = true %}

{% extends '@templates/_default.twig' %}
  {% block page_content %}
    {% include '@templates/placeholder/place-holder.twig' with {
      'place_holder': 'Primary Content',
    } %}
  {% endblock %}
